/**
 * Webforms
 * Library: uwmbase/webforms
 */

@import 'init';

form.webform-submission-form {

  .form-item {
    margin: 1rem 0;
  }

  .form-type-webform-markup {
    font-size: 0.875rem; // 14px
  }

  input.form-text,
  input.form-email {
    width: 100%;
    padding: 4px;
    background: #efe7e8;
    color: #000;
    opacity: .7;
    border: 1px solid #c3c5c8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    font-size: 0.875rem; // 14px

    &::placeholder {
      text-transform: uppercase;
    }
  }

  label {
    &.form-required {
      color: inherit;
    }
  }



  .form-actions {
    margin-bottom: 0;

    .form-submit {
      margin: 0;
      text-align: center;
    }
  }

  // "Health News You Can Use" form
  &.webform-submission-health-news-signup-form {

    .form-item-privacy-confirmation {
      display: block;
      margin: 0;
      font-size: 0.625rem; // 10px
      font-style: italic;
      font-weight: 300;

      label {
        font-weight: inherit;

        &.form-required::after {
          display: none;
        }
      }
    }

  }

}
