.ghost-button-orange {
  .btn:after {
    content: "";
  }
  a:hover {
    text-decoration: none;
  }
  @include uw-ghost-button('.btn', '.btn:after', $uwmed-accent-orange);
}

.ghost-button-blue {
  .btn:after {
    content: "";
  }
  a:hover {
    text-decoration: none;
  }
  @include uw-ghost-button('.btn', '.btn:after', $uwmed-accent-blue);
}

.ghost-button-teal {
  .btn:after {
    content: "";
  }
  a:hover {
    text-decoration: none;
  }
  @include uw-ghost-button('.btn', '.btn:after', $uwmed-accent-teal);
}

.ghost-button-yellow {
  .btn:after {
    content: "";
  }
  a:hover {
    text-decoration: none;
  }
  @include uw-ghost-button('.btn', '.btn:after', $uwmed-accent-yellow);
}

.ghost-button-white {
  a {
    border: 1px solid white;
    padding-left: 18px;
    padding-right: 18px;
    background: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    @include angled-edge('inside top', 'lower right', white, 15, 15);
    &::before {
      background-position: left 0;
    }
  }

  .btn-default {
    z-index: 1;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.7s;
      transition-timing-function: ease-out;
      z-index: -1;
      background-color: white;
    }

    &:hover {
      &::after {
        transform: scaleX(1);

        @media(hover: none) {
          transition-duration: 0s;
        }
      }
    }
  }
}
