@charset "UTF-8";
html {
  /* Home page carousel row edits - Neel Dey 5.9.16*/
  /* END - Home page carousel row edits*/
}
html #s4-bodyContainer section.top-bar {
  border-bottom: none;
}
html #s4-bodyContainer section.top-bar ul.top-nav {
  padding: 7px 0 0 16px;
}
@media only screen and (max-width: 767px) {
  html #s4-bodyContainer section.top-bar ul.top-nav {
    padding: 0px;
  }
}
html #s4-bodyContainer header:before {
  content: ' ';
  overflow: hidden;
  position: absolute;
  display: block;
  left: 0px;
  top: -2px;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
html .common-content .hw_right_info, html #content .hw_right_info, html .container .hw_right_info {
  margin: 0px;
}
html .common-content .link-b a.button, html #content .link-b a.button, html .container .link-b a.button {
  width: auto;
}
html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont, html #content article#landingPage:first-child > section.row.uwnc_top_main_cont, html .container article#landingPage:first-child > section.row.uwnc_top_main_cont {
  background: #f4f4f4;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  display: -ms-flex;
  -ms-flex-direction: row;
}
html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div, html #content article#landingPage:first-child > section.row.uwnc_top_main_cont div, html .container article#landingPage:first-child > section.row.uwnc_top_main_cont div {
  display: flex;
  display: -ms-flex;
  align-items: center;
  -ms-flex-align: center;
}
html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div:first-child, html #content article#landingPage:first-child > section.row.uwnc_top_main_cont div:first-child, html .container article#landingPage:first-child > section.row.uwnc_top_main_cont div:first-child {
  padding-left: 0px;
}
html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content, html #content article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content, html .container article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content {
  margin-top: 0px;
}
html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content p, html #content article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content p, html .container article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content p {
  padding: 0px;
  margin: 0px;
}
html .common-content article#landingPage:first-child > section.row:nth-child(2) article, html #content article#landingPage:first-child > section.row:nth-child(2) article, html .container article#landingPage:first-child > section.row:nth-child(2) article {
  padding-left: 10px;
  padding-right: 13px;
}
html .common-content article#landingPage:first-child > section.row:nth-child(2) article:first-child, html #content article#landingPage:first-child > section.row:nth-child(2) article:first-child, html .container article#landingPage:first-child > section.row:nth-child(2) article:first-child {
  padding-right: 10px;
  padding-left: 15px;
}
html .common-content article#landingPage:first-child > section.row:nth-child(2) article:last-child, html #content article#landingPage:first-child > section.row:nth-child(2) article:last-child, html .container article#landingPage:first-child > section.row:nth-child(2) article:last-child {
  padding-left: 7px;
  padding-right: 15px;
}
html .common-content article#landingPage:first-child > section.row:last-child, html #content article#landingPage:first-child > section.row:last-child, html .container article#landingPage:first-child > section.row:last-child {
  margin-top: 1em;
}
html .common-content article#landingPage:first-child > section.row:last-child article:last-child, html #content article#landingPage:first-child > section.row:last-child article:last-child, html .container article#landingPage:first-child > section.row:last-child article:last-child {
  padding-left: 8px;
}
html .common-content article#landingPage:last-child > section article:first-child > div, html #content article#landingPage:last-child > section article:first-child > div, html .container article#landingPage:last-child > section article:first-child > div {
  /*  border-right: 1px solid #e7e7e7;   veff - 20160503 - commenting out, causing issues on page: https://uatedit.uwmedicine.org/patient-care/Pages/pay.aspx */
  padding-right: 20px;
}
html .common-content article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary, html #content article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary, html .container article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary {
  padding-left: 8px;
}
html .common-content article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary .wait-summary, html #content article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary .wait-summary, html .container article#landingPage:last-child > section article:last-child div.row:first-child .clinic-summary .wait-summary {
  padding-right: 15px;
}
html .common-content article#landingPage .accordion-toggle, html #content article#landingPage .accordion-toggle, html .container article#landingPage .accordion-toggle {
  padding: 8px 15px;
  display: block;
}
html article.home section:nth-of-type(1) .row {
  margin-bottom: 30px;
}
html article.home section:nth-of-type(1) .row article {
  padding-left: 4px;
  padding-right: 4px;
}
html article.home section:nth-of-type(1) .row article:nth-of-type(2) {
  padding-left: 2px;
  padding-right: 12px;
}
html article.home section .box {
  position: relative;
  overflow: hidden;
}
html article.home section .box:nth-of-type(2) {
  margin-top: 23px;
}
html article.home section .box a strong {
  position: absolute;
  left: 0;
  bottom: 0;
  font: 25px/36px frutiger_black_cn,Helvetica,sans-serif;
  text-transform: uppercase;
  color: #fff;
  background: url(../images/arrow-08.png) no-repeat 55% 55%;
  padding: 10px 8px 0;
  width: 100%;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJoΓÇª3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#a6000000',GradientType=0);
}

@media only screen and (max-width: 990px) {
  html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div.hidden-xs img {
    max-width: initial;
  }
}
@media only screen and (max-width: 990px) {
  html .common-content article#landingPage:first-child > section.row.uwnc_top_main_cont div.uwnc_top_main_content p {
    margin-top: 16px;
    margin-bottom: 14px;
  }
}
#patient-forms-page .accordion-toggle {
  padding: 8px 15px;
  display: block;
}

#medical-home-page blockquote {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px), only screen and (max-width: 768px) {
  html .common-content article:first-child > section.row:nth-child(2) article:nth-child(2), html .common-content article:first-child > section.row:nth-child(2) article:last-child {
    padding-left: 15px;
    padding-right: 10px;
  }
  html .common-content article:first-child > section.row:nth-child(2) .uwnc_top_cont {
    overflow: hidden;
    margin: 0.5em 0;
  }
  html .common-content article:first-child > section.row:nth-child(2) .uwnc_appointments {
    background: url("../images/uwnc_appointments_mobile.jpg") 0 0 no-repeat;
    background-size: cover !important;
  }
  html .common-content article:first-child > section.row:nth-child(2) .uwnc_ecare {
    background: url("../images/uwnc_ecare_mobile.jpg") 0 0 no-repeat;
    background-size: cover !important;
  }
  html .common-content article:first-child > section.row .uwnc_info {
    background: url("../images/uwnc_info_mobile.jpg") 0 0 no-repeat;
    background-size: cover !important;
    margin-bottom: 15px;
  }
  html .common-content article:first-child > section.row .uwnc_vc {
    background: url("../images/uwnc_vc_mobile.jpg") 0 0 no-repeat;
    background-size: cover !important;
  }
  html .common-content article:first-child > section.row .uwnc_video {
    overflow: hidden;
  }
  html .common-content article:first-child > section.row .uwnc_video img {
    width: 100%;
  }

  #appointments-page div.row:nth-of-type(2) .uwnc_top_cont, #about-page div.row:nth-of-type(2) .uwnc_top_cont, #billing-insurance-estimated-charges-page div.row:nth-of-type(2) .uwnc_top_cont, #locations-page div.row:nth-of-type(2) .uwnc_top_cont, #patient-care-information-page div.row:nth-of-type(2) .uwnc_top_cont, #patient-resources-page div.row:nth-of-type(2) .uwnc_top_cont {
    overflow: hidden;
    margin: 0.5em 0;
  }

  #appointments-page div.row:nth-of-type(2) .uwnc_appointments, #about-page div.row:nth-of-type(2) .uwnc_appointments, #billing-insurance-estimated-charges-page div.row:nth-of-type(2) .uwnc_appointments, #locations-page div.row:nth-of-type(2) .uwnc_appointments, #patient-care-information-page div.row:nth-of-type(2) .uwnc_appointments, #patient-resources-page div.row:nth-of-type(2) .uwnc_appointments {
    background: url("../images/uwnc_appointments_mobile.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  #appointments-page div.row:nth-of-type(2) .uwnc_ecare, #about-page div.row:nth-of-type(2) .uwnc_ecare, #billing-insurance-estimated-charges-page div.row:nth-of-type(2) .uwnc_ecare, #locations-page div.row:nth-of-type(2) .uwnc_ecare, #patient-care-information-page div.row:nth-of-type(2) .uwnc_ecare, #patient-resources-page div.row:nth-of-type(2) .uwnc_ecare {
    background: url("../images/uwnc_ecare_mobile.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  #appointments-page div.row:nth-of-type(2) .uwnc_vc, #about-page div.row:nth-of-type(2) .uwnc_vc, #billing-insurance-estimated-charges-page div.row:nth-of-type(2) .uwnc_vc, #locations-page div.row:nth-of-type(2) .uwnc_vc, #patient-care-information-page div.row:nth-of-type(2) .uwnc_vc, #patient-resources-page div.row:nth-of-type(2) .uwnc_vc {
    background: url("../images/uwnc_vc_mobile.jpg") 0 0 no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=neighborhood.css.map */
/*# sourceMappingURL=neighborhood.css.map */

/*# sourceMappingURL=neighborhood.css.map */
