/*
 * Clinic pages
 *
 * Theme library: uwmbase/clinic-page
 * Main template: node--res-clinic--full.html.twig
 */

@import 'init';

.clinic-page {

  .clinic-page__gradient_background {
    @extend %uwmed-gradient-angled-dark-background;
    padding-top: 0.625rem; // 10px
    padding-bottom: 3rem;
  }

  .clinic-page__hours-ctas, .clinic-page__featured-view-all {
    .clinic-page__cta-btn {
      padding: .5rem 1.5rem;
    }
  }

  .clinic-page__header {

    .clinic-page__right {
      display: flex;

      .clinic-page__hours-ctas {
        display: flex;
        flex-wrap: wrap;

        .clinic-page__ctas, .clinic-page__hours {
          flex-basis: 100%;
          justify-content: space-between;
        }

        .clinic-page__ctas:not(.clinic-page__cta-hidden) {

          background-color: $white;
          box-shadow: 0px 2px 3px #dcdcdc;

          .clinic-page__cta-header {
            padding: .625rem  1.5rem;
            background-color: #f2f2f2;

            h2 {
              font-size: 1.5rem; // 24px
              font-family: $font-family-base;
              padding: 0;
              margin: 0;
            }

          }

          .clinic-page__cta-content {
            padding-top: 1.25rem;
            padding-bottom: 1.25rem;
          }
        }

        .clinic-page__cta-content {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          display: flex;
          justify-content: space-between;

          .clinic-page__cta-icon {
            flex-basis: 50%;
            margin-top: -1.25rem; // cancel out parent padding
            margin-bottom: -1.25rem; // cancel out parent padding
          }

          .clinic-page__cta-icon-calendar {
            background: $white url("#{$uwbase-images-folder}/calendar_thin_border.png") bottom center no-repeat;
          }

          .clinic-page__cta-icon-heart {
            background: $white url("#{$uwbase-images-folder}/half_heart.png") bottom center no-repeat;
          }

          .clinic-page__cta-icon-clock {
            background: $white url("#{$uwbase-images-folder}/UrgentCareWait_Clock.png") bottom right no-repeat;
          }
        }

        .clinic-page__cta-urgent-wait {
          .clinic-page__cta-header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
          }
        }

        .clinic-page__cta-returning {
          .clinic-page__cta-content {

            .clinic-page__cta-btn {
              flex-basis: 100%;
            }
          }
        }
      }

      .clinic-page__contact {
        .clinic-page__phone a {
          text-decoration: none;
        }

        i.uw-s {
          @include uw-separator(-15deg);
          border-right-color: $gray-300;
          width: 1px;
          margin: 0 0.5rem -0.125rem 0.75rem; // 8px -2px 12px
        }
      }

      .clinic-page__hours {

        .clinic-page__hours-header {
          margin: 0 0 0.25rem 0; // 4px
          padding: 0;
          font-family: inherit;
          color: theme-color('heading-purple');
        }

        .clinic-page__open-current {
          color: theme-color('heading-purple');
          font-style: italic;
        }

        .clinic-page__hours-details {
          padding-top: 0.375rem; // 6px
        }

        .clinic-page__hours-table {
          width: 100%;

          td {
            padding: 0 0 0.375rem 0; // 6px
          }

          td.day {
            width: 25%;
          }

          td.hours {
            width: 75%;
          }
        }

      }

      .clinic-page__note {
        p {
          font-weight: 400;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }

    .clinic-page__left {

      .clinic-page__address {
        margin-top: 1.25rem; // 20px
        margin-bottom: 0.625rem; // 10px
        font-size: 1.25rem; // 20px

        a {
          text-decoration: none;
          color: theme-color('link-blue');

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .clinic-page__fax {
        margin-bottom: 1rem;
        font-size: 1.125rem; // 18px
      }

      .clinic-page__link {
        padding: 0.875rem 0.125rem; // 14px 2px
        border-bottom: 1px solid theme-color('border-gray');
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          display: block;
          padding-right: 0.5rem; // 8px
          flex-grow: 1;

          // @TODO: global link styling, or mixin for blue version?
          color: theme-color('link-blue');
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .fa-angle-right {
          color: theme-color('link-blue');
        }
      }
    }

    .clinic-page__note-emergency {
      display: flex;
      margin-top: 1.5rem; // 24px

      .uwm-icon--phone-911 {
        flex-basis: 41px;
        flex-shrink: 0;
        margin-top: 0.125rem; // 2px
        margin-right: 1.25rem; // 20px
      }
    }

    .clinic-page__image {
      border: 1px solid theme-color('border-gray');
      background-color: $white;
      padding: 4px;

      img {
        margin: 0;
      }
    }
  }

  .clinic-page__tabs {

    .clinic-page__tabs-nav {
      background-color: color('white');
    }

    .tab-content {

      .tab-pane.fade:not(.show) {
        display: none;
      }

      .leader {
        margin: 0;
        padding: 1rem 0 1.75rem 0; // 16px 28px
      }

      .field--name-field-uwm-sections .card .card-header {
        padding: 1.25rem;
      }

    }

  }

  .clinic-page__featured-clinics {
    // We want the first section in each tab to be white, matching the tab
    // headers. If Featured Clinics is present, it is first.
    background-color: color('white');

    .clinic-page__featured-view-all {
      text-align: right;
      margin-top: .5rem;
      margin-bottom: 2rem;

      .clinic-page__cta-btn {
        text-transform: uppercase;
      }
    }
  }

  .clinic-page__services {
    // We want the first section in each tab to be white, matching the tab
    // headers. Services is first by default.
    background-color: color('white');
    padding-bottom: 1rem;

     ul {
      margin-bottom: 0;
      padding-left: 1.5rem;
      list-style-type: none;

      li {
        padding: 0 0 1rem 1.5rem;
        background-image: url("/themes/custom/uwmbase/dist/assets/uwm-icons/icon_checkmark_in_circle.svg");
        background-position: 0 3px;
        background-repeat: no-repeat;
        background-size: 1rem 1rem; // 16px 16px
      }
    }
  }

  // Match Services section only if it's after Featured Clinics.
  .clinic-page__featured-clinics + .clinic-page__services {
    // We want the first section in each tab to be white, matching the tab
    // headers. If Featured Clinics is present, it is first and thus white, and
    // Services is second and thus gray to distinguish.
    background-color: theme-color('background-light-gray');
    padding-top: 1rem;
  }

  .field--name-field-uwm-sections {
    background-color: theme-color('background-light-gray');

    .uwm-section--background-image {
      min-height: auto;
    }

    .uwm-section {

      .card-deck {
        padding-bottom: 0;
      }

      .card {
        margin-bottom: 1rem; // 16px
      }

    }
  }

  .clinic-page__overview {
    background-color: theme-color('background-light-gray');
    padding: 2.125rem 0 2rem 0; // 34px 32px (34px + 16px bottom card = 50px)

    .field--name-body {

      h2 {
        padding-bottom: 1.75rem; // 28px
        margin-bottom: 0;

        &:first-child {
          padding-top: 0;
        }
      }

    }
  }

  .clinic-page__directions-tab {

    .nav-tabs {
      border: 0 none;

      .nav-link {
        border: 1px solid transparent;
        text-decoration: none;
        padding: 10px 15px;
        margin-right: 2px;
      }

      .nav-link.active, .nav-link.active:hover, .nav-link.active:focus {
        border-bottom: 1px solid #ddd;
        text-decoration: none;
        color: green;

        .uw-ico {
          font-size: 18px;
        }
      }
    }

    .clinic-directions__map {
      position: relative;
      margin-bottom: 30px;
      padding-bottom: 75%; // This is the aspect ratio
      height: 0;
      overflow: hidden;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .field--name-field-uwm-sections-2 {
    padding-top: 2rem; // 32px

    h2 {
      margin-top: 0;
      padding-top: 0;

      &:not(.uwm-accent-heading__title) {
        padding-bottom: 1.75rem; // 28px
        margin-bottom: 0;
      }
    }

    .h2-placeholder {
      display: none;
    }
  }

  .clinic-page__urgent-wait-text {
    font-size: .875rem;
  }


  // Mobile/tablet

  // @TODO: global mobile header sizes
  @include media-breakpoint-down('md') {
    h1 {
      font-size: 2.5rem; // 40px
      line-height: 1.15; // 46px
    }
  }

  @include media-breakpoint-down('sm') {

    .clinic-page__header {

      // Set the relative container for absolute-positioned elements: h1 title
      // and image. The image is further down in markup, so "pull it up" to the
      // top. The h1 title is overlaid.
      // The image width:height ratio is 2, so height:width is .5. Thus set the
      // top padding to create a space that always matches image height - 50% of
      // container width - responsively, + 5px for border/padding around image.
      position: relative;
      padding-top: calc(50% + 5px);

      .clinic-page__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
      }

      // The h1 title wrapper is its own absolute container, with height
      // matching image height, with semi-transparent overlay (to make white
      // text stand out). Add 5px offsets to avoid overlaying border/padding
      // around image. Then the title is positioned at the bottom of the image.
      .clinic-page__title {
        position: absolute;
        left: 5px;
        top: 5px;
        right: 5px;
        padding-top: calc(50% - 5px);
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.3);

        h1 {
          position: absolute;
          left: 0;
          bottom: 0;
          margin: 0;
          @include container-padding;
          padding-bottom: 0.5rem;

          color: $white;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, .47);

          /// @TODO: global mobile header sizes
          font-size: 2rem; // 32px
          line-height: 1.1875‬ // 38px;
        }
      }

      .clinic-page__right {

        // Reorder flex children:
        // 2. Primary CTA
        // 3. Primary Hours
        // 4. Secondary CTA
        // 5. Secondary Hours
        // 6. 911 note
        // 7. Address
        // 8. Contact
        flex-direction: column;

        .clinic-page__hours-ctas {
          order: 2;

          .clinic-page__hours, .clinic-page__note {
            @include container-padding;
            margin-bottom: 1.25rem;
            background-color: $white;
            padding-top: 0.625rem; // 10px
            padding-bottom: 0.625rem; // 10px
            box-shadow: 0px 2px 3px #dcdcdc;
          }

          .clinic-page__note {
            margin-bottom: 0;
          }

          .clinic-page__ctas-primary {
            order: 4;
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          .clinic-page__hours-primary {
            order: 1;
            z-index: 2;
            margin-bottom: 0;
          }

          .clinic-page__ctas-secondary {
            &.clinic-page__ctas {
              order: 5;
              margin-bottom: 1rem;
            }
          }

          .clinic-page__hours-secondary {
            order: 2;
          }

          .clinic-page__cta-appointment {
            .clinic-page__cta-content {
              flex-wrap: wrap;

              .clinic-page__cta-btn {
                flex-basis: 100%;
                margin-bottom: 1rem;

                &:last-of-type {
                  margin-bottom: 0;
                }
              }
            }
          }

          .clinic-page__note-urgent-close {
            order: 3;
            z-index: 2;
            margin-top: -1.625em;
            box-shadow: 0px 2px 2px #dcdcdc;
          }

          // On mobile/tablet, the hours header toggles the hours details.
          // Instead of wrapping the text into a toggle button (which we don't
          // want on desktop, and is more confusing for accessibility) - make
          // the button absolute, filling the text container, and layered on top
          // of it via z-index. Thus the whole header is clickable.
          .clinic-page__hours-header-wrap {
            position: relative;

            .clinic-page__hours-header-mobile {
              padding-right: 1.5rem; // 24px
              display: flex;
              align-items: start;

              .clinic-page__hours-header {
                flex-shrink: 0;
                margin: 0 0.375rem 0 0; // 6px
                font-size: 1rem; // 16px
                line-height: inherit;
                text-transform: uppercase;

                &::after {
                  content: ':';
                }
              }

              .clinic-page__open-current {
                font-size: 1rem;
              }
            }

            .clinic-page__hours-toggle {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: 5;
              background-color: transparent;
              border: none;
              padding: 0;
              cursor: pointer;
              text-align: right;

              .fa-plus-circle,
              .fa-minus-circle {
                color: color('purple');
              }

              // When expanded (no button class)
              .fa-minus-circle {
                display: inline-block;
              }
              .fa-plus-circle {
                display: none;
              }

              // When collapsed
              &.collapsed {
                .fa-plus-circle {
                  display: inline-block;
                }
                .fa-minus-circle {
                  display: none;
                }
              }
            }
          }

          .clinic-page__hours-details {
            font-size: 0.875rem; // 14px
          }
        }

        .clinic-page__contact {
          order: 6;
          @include container-padding;
        }

      }

      .clinic-page__left {
        @include container-padding;

        .clinic-page__link {
          display: none;
        }

        .clinic-page__urgent-wait {
          .clinic-page__urgent-wait-header {
            font-size: 1rem; // 16px
          }
        }

        .clinic-page__address {
          order: 5;
          margin-top: 0;
        }
      }

      .clinic-page__right-two {
        .clinic-page__note-emergency {
          @include container-padding;
        }
      }

    }

    .clinic-page__featured-view-all {
      .clinic-page__cta-btn {
        width: 100%;
      }
    }

  }

  @include media-breakpoint-up('md') {

    .clinic-page__header {
      @include make-row();

      .clinic-page__left {
        order: 1;
        @include make-col-ready();
        @include make-col(5);
      }

      .clinic-page__right {
        order: 2;
        @include make-col-ready();
        @include make-col(7);

        display: block;

        .clinic-page__title {
          margin-bottom: 1rem;
        }

        .clinic-page__address {
          font-size: 1.5rem; // 24px
        }

        .clinic-page__contact {
          font-size: 1.25rem; // 20px
        }

        // -- New design --
        .clinic-page__hours-ctas {
          order: initial;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 1.25rem;

          .clinic-page__ctas, .clinic-page__hours {
            flex-basis: 100%;
          }
        }

        .clinic-page__note-urgent-close {
          order: 5;
          margin-top: 0;
        }
        // -- /New design --

        .clinic-page__hours {
          order: initial;
          background-color: transparent;

          .clinic-page__hours-set {
            margin-top: 1.25rem; // 20px
            margin-bottom: 1.25rem; // 20px
          }

          .clinic-page__hours-header {
            font-size: 1.5rem; // 24px
          }

          .clinic-page__open-current {
            padding-bottom: 0.25rem; // 4px
            border-bottom: 4px solid theme-color('border-gray');
          }

          // Hide the mobile/tablet hours toggle button.
          .clinic-page__hours-toggle {
            display: none;
          }

          // Ensure the mobile/tablet-collapsible hours always show.
          .clinic-page__hours-details.collapse {
            display: block !important;
          }

          .clinic-page__hours-table {
            td.hours {
              text-align: right;
            }
          }

        }

        .clinic-page__note {
          margin-top: 1rem; // 16px
        }

      }
    }

    .clinic-page__left-two {
      order: 3;
      @include make-col-ready();
      @include make-col(5);
    }

    .clinic-page__right-two {
      order: 4;
      @include make-col-ready();
      @include make-col(7);
    }

  }

  @include media-breakpoint-up('xl') {

    .clinic-page__header {

      .clinic-page__left, .clinic-page__left-two {
        @include make-col(4);
      }

      .clinic-page__right, .clinic-page__right-two {
        @include make-col(8);

        .clinic-page__hours-ctas {
          .clinic-page__ctas, .clinic-page__hours {
            flex-basis: 48%;
          }

          .clinic-page__ctas-primary {
            order: 1;
          }

          .clinic-page__hours-primary {
            order: 3;
          }

          .clinic-page__ctas-secondary {
            order: 2;
          }

          .clinic-page__hours-secondary {
            order: 4;
          }
        }

        .clinic-page__hours {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          .clinic-page__hours-set {
            margin-top: 2rem;
            flex-basis: 75%;
          }
        }

        .clinic-page__note {
          flex-basis: 100%;
        }
      }

    }

  }

}
