{# See providers display logic in node--res-clinic--full.html.twig #}
{% if show_providers %}
  <div class="container-xl">
    <div class="row">
      {# @see field--node--field-res-providers--res-clinic.html.twig #}
      {{ content.field_res_providers }}
    </div>
  </div>
{% endif %}
