@import 'init';

// Remove the left and right margins on narrow screens.
.ratings-details {
  .pager {
    padding: 0;
    margin: 20px 0 6px 0;
    .pager__items .pager__item {
      @include media-breakpoint-down('xs') {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.ratings-details__section {
  margin-top: 20px;
}
.ratings-details__ratings-count {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
}
.ratings-details__summary-stars-subsection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  @include media-breakpoint-up('md') {
    display: block;
    margin-bottom: 0;
  }
}
.ratings-details__summary-stars {
  margin-top: -4px;
  @include media-breakpoint-up('md') {
    margin-top: 0;
  }
}
.ratings-details__summary-stars-text {
  font-size: 14px;
  margin-left: 10px;
  @include media-breakpoint-up('md') {
    margin-top: 8px;
    margin-left: 0;
  }
}
.ratings-details__comments-count {
  font-size: 18px;
  font-weight: $font-weight-semi-bold;
}
.ratings-details__details {
  display: none;
  margin-top: 30px;
  @include media-breakpoint-up('md') {
    margin-top: 20px;
  }
}
.ratings-details__details--active {
  display: flex;
}
.ratings-details__details-comment {
  margin: 0;
}
.ratings-details__details-date {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 14px;
  @include media-breakpoint-up('md') {
    margin-bottom: 0;
  }
}
