/*==================================================================*/

/* ======================================================= Alert Zone */
#alertzone
{
	z-index:0;
	display: block;
    min-height:65px;
}

#alerticon
{
	background-image: url(../images/ico_alert.jpg);
	background-repeat:no-repeat;
	width:58px;
	height:65px;
	margin-right:10px;
	float:left;
}
#alertbox
{
	margin-top:7px;
	color:#000000;
	margin-right:6px;
    display:block;
    overflow:hidden;
}

.alert-title
{
	font-weight:bold;
	font-size:16px;
    padding: 4px 0px 2px 0px;
}
.alert-time
{
	font-weight:bold;
	font-size:12px;	
	padding-bottom:10px;
}
.alert-message
{
    padding: 2px 0px 2px 0px;
}
/*
#alertmorelink
{
	margin-top:50px;
	float:left;
}*/