* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.container {
  max-width: 1006px;
  margin: 0 auto;
}

.container > .inner {
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  height: 48px;
  background: #33006f;
  padding:0 !important;
  margin:0 !important;
}
#header .container {
	max-width:100% !important
}

#header .logo-survivor img {
  width: 140px;
}

#header .inner {
  padding-top: 15px;
}

.section-banner-main {
  height: 613px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/breath_easy.jpg');
}

.section-banner-main .inner {
  position: relative;
  height: 613px;
}

.section-banner-main p {
  color: #fff;
  font-size: 84px;
  margin: 0;
  position: absolute;
  width: 50%;
  display: block;
  bottom: 60px;
  left: 15px;
  text-transform: uppercase;
  text-align: right;
  z-index: 5;
  line-height: 94px;
}

.section-banner-main p.title:after  {
  content: '';
  position: absolute;
  width: 528px;
  height: 361px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  left: 100%;
  bottom: 10px;
  margin-left: 25px;
  background-image: url(../images/img03.png);
}

.section-banner {

  background-size: cover;
  background-position: 50% 50%;
  background-image: url('../images/img03.jpg');
}


.section-banner .inner {
  position: relative;
  height: calc(100vh - 48px);
}

.section-banner .text {
  position: absolute;
  font-size: 95px;
  color: #fecf34;
  left: 38px;
  bottom: 38px;
  line-height: 80px;
  margin: 0;
}

.section-banner .text span {
  display: inline-block;
  background: #33006f;
  padding-left: 25px;
  padding-right: 25px;
}

.section-banner .text span:first-child {
  padding-bottom: 17px;
  margin-bottom: -17px;
  padding-top: 7px;
}

.section-banner .text span:last-child {
  margin-left: 65px;
  padding-bottom: 10px;
}

.section-content {
  background: #f6f6f6;
  padding-top: 28px;
  padding-bottom: 2px;
}

.section-content h2 {
  text-align: center;
  font-size: 30px;
  color: #33006f;
  font-style: italic;
  font-weight: bold;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 36px;

}

.section-content p {
  font-size: 16px;
  line-height: 30px;
  color: #525252;
  margin-top: 0;
  margin-bottom: 30px;
}

.section-content .text-offset {
  margin-left: 105px;
}

.section-content .cite {
  color: #000;
  text-align: right;
}

.section-list {
  padding-top: 30px;
  padding-bottom: 20px;
  background: #ffce34;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.section-list h2 {
  font-size: 30px;
  font-style: italic;
  line-height: 36px;
  color: #33006f;

  margin-top: 0;
  margin-bottom: 2px;
}

.section-list p {
  margin-top: 0;
}

.section-list p,
.section-list ul {
  font-size: 24px;
  line-height: 36px;
  color: #33006f;
}

.section-list ul {
  margin-left: 20px;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 0;
}

.section-list ul li {
  margin-bottom: 20px;
  line-height:26px !important;
  max-width: 775px;
}

.section-xray {
  padding-top: 40px;
  padding-bottom: 23px;
  background: #33006f;
  border-bottom: 19px solid #ffce34;
  color: #fff;
}

.section-xray:after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}

.section-xray img {
  float: right;
  max-width: 48%;
  margin-top: 0;
}

.section-xray h2 {
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 27px;
  color:#fff;
}

.section-xray p {
  font-size: 24px;
  margin-top: 0;
  line-height: 30px;
  margin-bottom: 30px;
  max-width: 435px;
}
.section-xray a {color:#fff;}

.section-xray .text-left {
  float: left;
  width: 50%;
  padding-right: 15px;
}

.section-xray-no-border {
  border-bottom: 0;
}

.section-cta-divider {
  background: #ffce54;
  color: #33008f;
  padding: 12px 0;
  text-align: center;
}

.section-cta-divider p {
  margin: 0;
  font-weight: bold;
  font-style: italic;
  font-size: 26px;
}

.section-story {
  height: 765px;
  background: url(../images/img03.jpg) no-repeat 50% 50%;
  background-size: cover;
  border-bottom: 13px solid #ffce54;
  position: relative;
}


.section-story:before {
  content: '';
  background: rgba(0,0,0,.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.section-story .inner {
  height: 765px;
  position: relative;
}


.section-story .content {
  position: absolute;
  bottom: 138px;
  left: 0;
  right: 0;
  text-align: center;
}

.section-story p {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin: 0 0 32px;
}

.section-story .cta-btn {
  display: inline-block;
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none !important;
  background: #00a651;
  padding: 16px 28px 17px;
}

.section-cta {
  background: #f6f6f6;
  padding-top: 36px;
  padding-bottom: 54px;
}

.section-cta h2,
.section-cta h3 {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  line-height: 36px;
  color: #181818;
  margin-top: 0;
  margin-bottom: 12px;
}

.section-cta h3 {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 26px;
  font-style:normal;
}

.section-cta p {
  margin-top: 0;
  margin-bottom: 22px;
  font-style: italic;
  font-weight: bold;
}

.section-cta .link-cta {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 28px;
  padding-right: 28px;
  background: #00a651;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 21px;
  color: #fff !important;
  line-height: normal;
  text-decoration: none !important;
}
.section-cta .link-cta:hover,
.section-story .cta-btn:hover {background:#00c25e;}

.section-cta-home {
  background: #fff;
  padding-bottom: 28px;
}

.section-cta-home h2,
.section-cta-home h3 {
  color: #33008f;
}

.section-cta-home h2 {
  font-size: 30px;
}

.section-cta-home h3 {
  line-height: 140%;
}

.section-cta-home .link-cta {
  padding-left: 28px;
  padding-right: 28px;
  min-width: 0;
}



#footer {
  background: #fff;

  padding-top: 50px;
  padding-bottom: 50px;
}

#footer:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

#footer .footer-left {
  float: left;
  width: 38%;
  padding-top: 60px;
}

#footer .footer-left p {
  font-size: 12px;
  color: #000;
  line-height: normal;
  font-weight: 700;
  font-style: italic;
}

#footer .footer-right {
  width: 100%;
  text-align: center;
}

#footer .footer-right img {
  vertical-align: middle;
  margin-left: 100px;
}

#footer .footer-right img:first-child {
  margin-left: 0;
}


@media screen and (max-width: 1200px) {
  .section-banner-main p {
    width: 40%;
  }
}


@media screen and (max-width: 1023px) {
  .section-banner-main p {
    font-size: 60px;
    line-height: 54px;
  }

  .section-banner-main p.title:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 207px;
  }

  .section-banner-main .inner {
    position: relative;
    height: 500px;
  }

  .section-banner-main {
    height: 500px;
  }

  .section-xray img {
    width: 38%;
  }

  .section-xray .text-left {
    width: 60%;
  }

  .section-xray p {
    font-size: 20px;
    line-height: 140%;
  }

  .section-story .inner,
  .section-story{
    height: 500px;
  }

  .section-story p {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-cta p {
    line-height: 140%;
  }

  #footer .footer-right,
  #footer .footer-left {
    float: none;
    width: 100%;
    text-align: center;
  }

  #footer .footer-left {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #footer .footer-right img:first-child,
  #footer .footer-right img {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }

}


@media screen and (max-width: 767px) {

  .section-cta-home h2 {
    line-height: 140%;
  }

  .section-cta h3 {
    font-size: 21px;
    line-height: 140%;
  }

  .section-cta .link-cta {
    min-width: 0;
  }

  .section-list ul {
    margin-top: 32px;
    margin-bottom: 0px;
  }

  .section-list ul li {
    margin-bottom: 12px;
    max-width: 775px;
    font-size: 20px;
    line-height: 140%;
  }

  .section-list p {
    font-size: 20px;
    line-height: 140%;
  }

  .section-content h2 br {
    display: none;
  }

  .section-banner-main p.title:after {
    width: 200px;
    height: 130px;
  }


}

@media screen and (max-width: 640px) {

  .section-banner .text {
    font-size: 50px;
    line-height: 50px;
  }

  .section-banner .text span:last-child {
    padding-bottom: 10px;
  }

  .section-content h2 {
    font-size: 22px;
    line-height: 140%;
  }

  .section-content .text-offset {
    margin-left: 15px;
  }

  .section-banner-main p {
    width: 50%;
    position: absolute;
    bottom: 10px;
    text-align: center;
  }

  .section-xray img {
    width: 100%;
    float: none;
    margin: auto;
    display: block;
  }

  .section-xray .text-left {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  .section-xray {
    padding-top: 50px;
  }

  .section-xray p {
    font-size: 20px;
    line-height: 140%;
    max-width: 100%;
  }



  .section-banner-main .inner {
    position: relative;
    height: 350px;
  }

  .section-banner-main {
    height: 350px;
  }

  .section-banner-main p.title:after {
	width:150px;
    bottom: 10px;
    left: 125%;
    margin-left: 0;
    margin-top: 20px;

    transform: translateX(0%);
  }
}

@media screen and (max-width: 450px) {
  .section-banner-main p {
    font-size: 50px;
    line-height: 50px;
  }
  .section-banner-main p.title:after {
	  left:120%;

    width: 125px;
    height: 90px;
  }

  .section-banner .text {
    left: 5px;
  }

  #footer .footer-right img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  .section-banner-main p {
    font-size: 42px;
    line-height: 42px;
  }
  .section-banner-main p.title:after {
	  left:115%;

    width: 110px;
    height: 85px;
  }
}
