@import 'init';

// Customize first-level paragraphs in a grid that has column dividers.
.uwm-grid-column-dividers {

  .card-deck > .paragraph,
  .row > .paragraph {
    box-shadow: none;
    margin: 0 0 2rem 0;
    padding: 0;
    background: transparent;

    // Add a divider between columns.
    @include media-breakpoint-up('sm') {
      border-left: 1px solid theme-color('border-gray');
      padding-left: 15px;
      padding-right: 15px;
    }

    @include media-breakpoint-between('sm', 'md') {
      // Between sm-lg, cards are 2-per-row.
      &:nth-of-type(2n+1) {
        border-left: none;
      }
    }

    @include media-breakpoint-up('lg') {
      // At lg+, by default all cards are in one row.
      // (Hopefully we'll change this to apply the field in which the editor can
      // choose how many per row; that requires refactoring to not use the
      // Bootstrap .card-deck wrapper.)
      &:first-of-type {
        border-left: none;
      }
    }

  }

}
