// Color Overrides

// Primary
$uw_purple: #33006f;
$uw_medicine_gray: #313E48;

// Secondary
$dark-rain: #006C8A;
$light-rain: #82CFCD;
$mountain-green: #008566;
$well-coral: #C2513D;

// Grayscale
$dark-gray: #343638;
$medium-gray: #4B545A;
$light-gray: #F5F5F5;

$brand-secondary: #008566;
$font-size-base-xs: 15px;
