@import 'init';

.ratings-summary__stars-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  .rating-stars {
    margin-top: -2px;
  }
}
.ratings-summary__stars-text {
  flex: 0 0 auto;
  margin-left: 8px;
}
.ratings-summary__count-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4px;
}
.ratings-summary__ratings-count + .ratings-summary__comments-count {
  border-left: 1px solid $link-blue;
  margin-left: 8px;
  padding-left: 8px;
}
