{{ attach_library('uwmbase/ratings-summary') }}

{% set ratings_details_anchor_id = '#overview-tab-tab---ratings-details' %}
{% set cta_link_classes = ['ratings-summary__link', 'text-link-blue', 'no-underline']  %}
{% set cta_special_attributes = {'data-context-title': node_title|trim, 'data-context-npi': npi} %}
{% set ratings_stars_variables =
  {
    'stars': ratings.summary.stars,
    'link_url': ratings_details_anchor_id,
    'use_cta_link': true,
    'cta_classes': ['ratings-summary__link'],
    'cta_special_attributes': cta_special_attributes
  }
%}

<div class="ratings-summary">
  <div class="ratings-summary__stars-section">
    {% include "@uwmbase/rating-stars/rating-stars.twig" with ratings_stars_variables %}
    {% if ratings.summary.value %}
      <div class="ratings-summary__stars-text">
        {{ uwm_cta_link('@value out of 5'|t({'@value': ratings.summary.value}), ratings_details_anchor_id, [css_parents_classes, cta_link_classes], cta_special_attributes) }}
      </div>
    {% endif %}
  </div>
  {% if ratings.summary.count.ratings or ratings.summary.count.comments %}
    <div class="ratings-summary__count-section">
      {% if ratings.summary.count.ratings %}
        <div class="ratings-summary__ratings-count">
          {{ uwm_cta_link('@count ratings'|t({'@count': ratings.summary.count.ratings}), ratings_details_anchor_id, [css_parents_classes, cta_link_classes], cta_special_attributes) }}
        </div>
      {%  endif %}
      {% if ratings.summary.count.comments %}
        <div class="ratings-summary__comments-count">
          {{ uwm_cta_link('@count comments'|t({'@count': ratings.summary.count.comments}), ratings_details_anchor_id, [css_parents_classes, cta_link_classes], cta_special_attributes) }}
        </div>
      {%  endif %}
    </div>
  {%  endif %}
</div>
