//
// - Styles for Article Nodes
//

body.page-node-type-article .main-container {
  // Set a max-width, so the article is 760 px wide.
  // We'll draw the image and quick-read wider, to
  // 960 px below, like medium.com. It's possible
  // styling article.article instead but that risks
  // sub-headings and other regions will hang odly wide.
  @media (min-width: $screen-xs) {
    max-width: 660px;
  }
  @media (min-width: $screen-md) {
    max-width: 820px;
  }
  // @TODO: add body class "has-right-sidebar", to disable this rule.
  //&.has-right-sidebar {
  //  max-width: auto;
  //}
}

.article.full {

  // Set article image and quick-read
  // to 960 px wide and content to 760 px
  // wide, preferring bootstraps native
  // sizes.
  @media (min-width: $screen-sm) {
    .field.field--name-field-primary-media,
    .field.field--name-field-quick-read {
      margin-left: -36px;
      margin-right: -36px;
    }
    .field.field--name-image {
      max-height: 300px;
      overflow: hidden;
    }
  }
  @media (min-width: $screen-md) {
    .field.field--name-field-primary-media,
    .field.field--name-field-quick-read {
      margin-left: -100px;
      margin-right: -100px;
    }
    .field.field--name-image {
      max-height: 440px;
      overflow: hidden;
    }
  }

  color: $dark-base-gray;

  h2 {
    margin: 28px 0;
    color: $dark-base-gray;
    font-size: 20px;
    line-height: 1.25;
    text-transform: none;
    font-weight: 500;

    @media (min-width: $screen-sm) {
      font-size: 25px;
      line-height: 1.32;
    }

    @media (min-width: $screen-md) {
      font-size: 32px;
      line-height: 1.25;
    }
  }

  p {
    margin-bottom: 45px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Add green border, above baseline and offset right
  a {
    position: relative;
    display: inline-block;
    &:hover {
      font-weight: bold;
      color: $dark-base-gray;
    }
    &:after {
      content: '';
      position: absolute;
      left: 3px;
      bottom: 5px;
      height: 6px;
      width: 100%;
      background: #82cfcd;
      z-index: -1;
      opacity: .5;
    }
  }

  // Header styles
  .article-full--header {
    @include clearfix();
    font-family: $font-family-sans-serif;
    font-size: $font-size-base-xs;
    line-height: 1;
    margin-bottom: 2.4rem;

    @media (min-width: $screen-sm) {
      font-size: $font-size-base;
      margin-bottom: 3.2rem;
    }
    // override default article link styles for header
    a {
      color: $dark-base-gray;

      &:after {
        background: none;
      }

      &:hover,
      &:active {
        color: $light-rain;
        font-weight: 500;
      }
    }
    .article-full--header__metadata {
      & * {
        display: inline-block;
      }
      div:first-child {
        font-weight:  500;
      }
    }
    .hierarchical-term-field {
      & * {
        display: inline-block;
      }
      .taxonomy-term.count-1 {
        text-transform: uppercase;
        padding: 0 .25rem;
      }
      .taxonomy-term.count-2 {
        padding-left: .25rem;
      }
      img.terms-icon {
        width: 2rem;
        vertical-align: middle;

        @media (min-width: $screen-sm) {
          width: 2.4rem;
        }
      }
    }
    .fact-checked--header * {
      display: inline-block;
      vertical-align: top;

      img {
        margin-top: 1px;
        width: 1.4rem;

        @media (min-width: $screen-sm) {
          width: 1.5rem;
        }
      }
    }
  }

  .field--name-image .field.field--name-field-credit {
    color: #343638;
  }

  .content-footer {
    @extend .body3;

    .far {
      width: 15px;
      height: 15px;
    }

    p {
      margin-bottom: 16px;
    }
  }

}
.field--name-field-sections {
  .paragraph {
    margin-bottom: $line-height-computed;
  }
}
