.article {
  .paragraph--type--body-text {
    a {
      border-bottom: 2px solid $brand-primary;
    }
  }
}
.region-content-header {
  @include clearfix();
  margin-bottom: 1rem;
  a {
    color: $dark-gray;

    &:hover,
    &:active {
      color: $light-rain;
      font-weight: 500;
    }
  }
  .field--name-field-categories {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base-xs;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: $font-size-base;
    }

    .taxonomy-term.count-1 {
      text-transform: uppercase;
      padding-right: .5rem;
    }
    .taxonomy-term.count-2 a{
      padding-left: 1rem;
      border-left: 1px solid $dark-gray;
    }
    img.terms-icon {
      width: 2rem;
      padding-right: .25em;
      display: inline-block;
      vertical-align: top;

      @media (min-width: 768px) {
        width: 2.4rem;
      }
    }
  }
  .block-entity-fieldnodefield-author,
  .block-entity-fieldnodecreated,
  #block-factchecked {
    float: left;
    font-family: $font-family-sans-serif;
    color: $dark-gray;
    font-size: $font-size-small * 0.875;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: $font-size-small;
    }
  }
  .block-entity-fieldnodefield-author {
    font-weight: 500;
    padding-right: 1rem;
    border-right: 1px solid $dark-gray;
  }
  .block-entity-fieldnodecreated {
    padding: 0 1rem;
    border-right: 1px solid $dark-gray;
  }
  .article__block--fact-checked {
    padding-top: 1rem;

    @media (min-width: 768px) {
      padding-left: 1rem;
      padding-top: 0;
    }
    img {
      width: 1.5rem;
      vertical-align: top;
    }
  }
}
.field--name-field-sections {
  .paragraph {
    margin-bottom: $line-height-computed;
  }
}
