.article {
  .paragraph--type--body-text {
    a {
      border-bottom: 2px solid $brand-primary;
    }
  }
}
.article-full--header {
  @include clearfix();
  font-family: $font-family-sans-serif;
  font-size: $font-size-base-xs;
  line-height: 1;
  margin-bottom: 2.4rem;

  h1 {
    margin: 1.6rem 0;
  }

  @media (min-width: $screen-sm) {
    font-size: $font-size-base;
    margin-bottom: 3.2rem;
  }
  a {
    color: $dark-gray-base;

    &:hover,
    &:active {
      color: $light-rain;
      font-weight: 500;
    }
  }
  .article-full--header__metadata {
    & * {
      display: inline-block;
    }
    &:first-child {
      font-weight:  500;
    }
  }
  .hierarchical-term-field {
    & * {
      display: inline-block;
    }
    .taxonomy-term.count-1 {
      text-transform: uppercase;
      padding: 0 .25rem;
    }
    .taxonomy-term.count-2 {
      padding-left: .25rem;
    }
    img.terms-icon {
      width: 2rem;
      vertical-align: middle;

      @media (min-width: $screen-sm) {
        width: 2.4rem;
      }
    }
  }
  .article__block--fact-checked {
    img {
      width: 1.5rem;
      vertical-align: top;
    }
  }
}
.field--name-field-sections {
  .paragraph {
    margin-bottom: $line-height-computed;
  }
}
