.paragraph--type--aside {
  margin-top: ceil(($font-size-base * 2));
  margin-bottom: ceil(($font-size-base * 2));
  border-top: 2px solid $light-gray;
  border-bottom: 2px solid $light-gray;
  padding-top: $font-size-base * 1.5;
  padding-bottom: $font-size-base * .75;
  @media (max-width: $screen-xs) {
    margin-left: 0;
    padding-left: ceil(($font-size-base-xs * 1.5));
  }

  .field--name-field-heading {
    margin-top: 0;

    @media (max-width: $screen-sm) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .field--name-field-body {
    @extend .body3;
    margin-left: 19px;

    @media (min-width: $screen-sm) {
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
    }
  }

  &.paragraph-style--take-next-steps {
    margin: 32px 0;
    padding: 24px 0;

    @media (min-width: $screen-sm) {
      margin: 40px 0 32px 0;
      padding: 32px 0;
    }

    h3 {
      margin: 0;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        padding-top: 16px;

        @media (min-width: $screen-sm) {
          padding-top: 18px;
        }
        &:before {
          @extend .chew-icon.next-step;
          @include chew_icon_svg_background('.next-step', $dark-base-gray);
          display: inline-block;
          content: '';
          vertical-align: middle;
          background-repeat: no-repeat;
          margin-left: -17px;
          padding-left: 23px;

          @media (max-width: $screen-sm) {
            height: 10px;
            padding-left: 10px;
          }
        }
      }
    }

  }
}
