.field .paragraph--type--pull-quote {

  @extend .row;
  color: #343638;

  @media (min-width: $screen-xs) {
    margin: 40px 0;
  }
  @media (min-width: $screen-md) {
    margin: 48px 0;
  }

  .field--name-field-quote-text {

    @extend %pull-quote-size;

    //color: $brand-secondary;
    font-family: $font-family-sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    padding-left: ceil(($font-size-base * 2));

    @media (max-width: $screen-xs) {
      font-size: $font-size-base-xs * 1.25;
      padding-left: ceil(($font-size-base-xs * .8));
    }
  }

  .field--name-field-quote-attribution {

    @extend %pull-quote-size;
    //color: $brand-secondary;
    font-family: $font-family-sans-serif;
    font-size: ceil(($font-size-base * .778));
    text-align: right;
    @media (max-width: $screen-xs) {
      font-size: $font-size-base-xs;
    }
  }

}

%pull-quote-size {

  @extend .center-block;

  max-width: 248px;
  float: none;
  border-top: 8px solid $darkgreen;

  @media (min-width: $screen-xs) {
    max-width: 442px;
    border-top: 0 none;
    border-left: 8px solid $darkgreen;
  }
  @media (min-width: $screen-md) {
    max-width: 560px;
  }

}
