.paragraph--type--quick-read {

  margin: 24px 0 40px 0;
  padding: 32px 15px 32px 24px;
  color: #343638;

  @media (min-width: $screen-xs) {
    padding: 24px 16px;
  }
  @media (min-width: $screen-md) {
    padding: 32px 100px 32px 92px;
  }

  .field--name-field-superheading {
    @extend .h2;
    color: $dark-base-gray;
    font-weight: bold;
    text-transform: none;
    display: inline-block;
    border-right: 1px solid $dark-base-gray;
    padding-right: 10px;
    margin: 0 5px 12px 0;

    i {
      margin-right: 8px;
    }

  }

  .field--name-field-heading {
    @extend .h2;
    display: inline;
    margin-top: 0;
    color: $dark-base-gray;
    text-transform: none;
  }

  .field--name-field-body {
    font-family: $font-family-sans-serif;
    color: $dark-base-gray;
  }

  ul {
    margin: 0;
  }

}

article.node-term-category-body {
  .paragraph--type--quick-read {
    border-left: 8px solid $dark-green;
    background-color: $light-green;
  }
}
article.node-term-category-mind {
  .paragraph--type--quick-read {
    border-left: 8px solid $dark-blue;
    background-color: $light-blue;
  }
}
article.node-term-category-life {
  .paragraph--type--quick-read {
    border-left: 8px solid $dark-purple;
    background-color: $light-purple;
  }
}
article.node-term-category-well {
  .paragraph--type--quick-read {
    border-left: 8px solid $dark-red;
    background-color: $light-red;
  }
}
