@mixin quick_read_box_color($background-color, $border-color) {
    border-top: 8px solid $border-color;
    background-color: $background-color;

    @media (min-width: $screen-sm) {
      border-top: none;
      border-left: 8px solid $border-color;
    }
}
.paragraph--type--quick-read {

  margin: 24px 0 40px 0;
  padding: 32px 15px 32px 24px;

  @media (min-width: $screen-xs) {
    padding: 24px 16px;
  }
  @media (min-width: $screen-md) {
    padding: 32px 100px 32px 92px;
  }

  .quick-read--header {
    margin-bottom: 10px;

    & * {
      display: inline-block;
      margin: 0;
    }

    span {
      padding: 0 5px;
      font-size: 22px;
      vertical-align: top;
    }
  }

  .field--name-field-superheading,
  .field--name-field-heading {
    @media (max-width: $screen-sm) {
      font-size: 16px;
      line-height: 26px;
    }

    @media (max-width: $screen-md) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .field--name-field-superheading {
    text-transform: uppercase;

    i {
      margin-right: 8px;
    }

  }

  .field--name-field-body {
    @extend .body3;

    @media (min-width: $screen-sm) {
      font-size: 18px;
      line-height: 32px;
    }

  }

  ul {
    margin: 0;
  }

}

article.node-term-category-body {
  .paragraph--type--quick-read {
    @include quick_read_box_color($mountain-green-light, $mountain-green);
  }
}
article.node-term-category-mind {
  .paragraph--type--quick-read {
    @include quick_read_box_color($light-blue, $dark-blue);
  }
}
article.node-term-category-life {
  .paragraph--type--quick-read {
    @include quick_read_box_color($light-purple, $dark-purple);
  }
}
article.node-term-category-well {
  .paragraph--type--quick-read {
    @include quick_read_box_color($light-red, $dark-red);
  }
}
