/**
 * @file
 * Featured Story component
 *
 * This includes both the Featured Story paragraph type and block_content type.
 *
 * Library: uwmbase/featured-story
 *
 * @see paragraph--uwm-featured-story.html.twig
 * @see paragraph--uwm-modal--uwm-featured-story.html.twig
 */

@import 'init';

.uwm-featured-story {
  position: relative;

  // 992px+
  // At switch to content box overlay / full background image, add top/bottom
  // spacing to entire component.
  @include media-breakpoint-up('lg') {
    margin: 1.25rem 0; // 20px
  }

  .uwm-featured-story__background {

    .img-fluid {
      margin: 0;
    }

  }

  &.uwm-bottom-border--angled {

    .uwm-featured-story__background {
      @include angled-edge('inside bottom', 'upper right', color('white'), 50);

      &::after {
        width: 100%;
        margin-bottom: -1px;
      }
    }

  }

  &.uwm-bottom-border--straight {

    // 992px-
    @include media-breakpoint-down('md') {

      // When bottom of image is straight, add spacing between image and
      // content. (For angled case, the angled edge creates the space.)
      .uwm-featured-story__background {
        padding-bottom: 2rem; // 32px
      }

    }

  }

  .uwm-featured-story__content {
    @include make-col-ready();
    position: static;
    padding-bottom: 2.375rem; // 38px

    .uwm-featured-story__title {
      position: absolute;
      top: 0;
      margin-top: 0;
      padding-top: 2.375rem; // 38px
      padding-bottom: 1.25rem; // 20px
      margin-bottom: 0;

      text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
      color: color('white');
    }

    .uwm-featured-story__heading {
      padding-top: 0;
      padding-bottom: 1.5rem; // 24px
      margin-bottom: 0;
      font-size: 2.1875rem; // 35px - standard h2 font size
      font-weight: 400;

      // 1200px-
      @include media-breakpoint-down('lg') {

        // Decrease the h2 size so it makes the content box a bit less tall, when
        // the image height is decreasing at smaller widths.
        font-size: 1.5rem; // 24px
        padding-bottom: 1rem;

      }

    }

    .card-body {
      padding: 0;

      .paragraph--type--uwm-basic-content {
        margin-top: 1rem;

        &:first-child {
          margin-top: 0;
        }
      }

      p:last-child {
        margin-bottom: 0;
      }

      .btn-cta {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-right: 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }

    }

    // 768px+
    @include media-breakpoint-up('md') {

      // 2/3 width
      @include make-col(8);

    }

    // 992px+
    // Switch to content box overlay styling.
    @include media-breakpoint-up('lg') {

      // 1/2 width
      @include make-col(6);

      // Note: the `position: relative` ancestor is .uwm-featured-story,
      // not .container-xl or .row - it seems that this content box's percentage
      // width is of that ancestor, rather than .container-xl. Thus even when
      // the container becomes fixed-width at 1200+, this content box width
      // continues to grow, based on that ancestor...?
      position: absolute;
      z-index: 1;
      top: 30px;
      background-color: rgba(255, 255, 255, .9);
      padding: 2.375rem; // 38px

      .uwm-featured-story__title {
        position: static;
        padding-top: 0;
        text-shadow: none;
        color: theme-color('text');
      }

    }

    // 1200px+
    @include media-breakpoint-up('xl') {

      // Set as make-col() does, but with custom percentage width.
      flex: 0 0 40%;
      max-width: 40%;

    }

    // 1450px+
    @media (min-width: 1450px) {

      // Set as make-col() does, but with custom percentage width.
      flex: 0 0 33%;
      max-width: 33%;

    }

  }

}

// Apply accent color to Story Title heading.
.uwm-accent-color__purple .uwm-featured-story__heading {
  color: color('purple');
}

.uwm-accent-color__light-purple .uwm-featured-story__heading {
  color: color('light-purple');
}

.uwm-accent-color__yellow .uwm-featured-story__heading {
  color: color('yellow');
}

.uwm-accent-color__blue .uwm-featured-story__heading {
  color: color('blue');
}

.uwm-accent-color__orange .uwm-featured-story__heading {
  color: color('orange');
}

.uwm-accent-color__teal .uwm-featured-story__heading {
  color: color('teal');
}
