/**
 * @file
 * Featured Story component
 *
 * This includes both the Featured Story paragraph type and block_content type.
 *
 * Library: uwmbase/featured-story
 *
 * @see paragraph--uwm-featured-story.html.twig
 * @see paragraph--uwm-modal--uwm-featured-story.html.twig
 */

@import 'init';

.uwm-featured-story {
  position: relative;

  .uwm-featured-story__background {

    &.uwm-bottom-border--angled {
      @include angled-edge('inside bottom', 'upper right', color('white'), 50);

      &::after {
        width: 100%;
        margin-bottom: -1px;
      }

      .img-fluid {
        margin: 0;
      }

    }

    // &.uwm-bottom-border--straight {
    //   &::after {
    //     content: none;
    //   }
    // }

  }

  .uwm-featured-story__content {
    padding-bottom: 2.375rem; // 38px
    position: static;

    .uwm-featured-story__title {
      position: absolute;
      top: 0;
      margin-top: 0;
      padding-top: 2.375rem; // 38px
      padding-bottom: 1.25rem; // 20px
      margin-bottom: 0;

      text-shadow: 0px 3px 6px rgba(0, 0, 0, 53);
      color: color('white');
    }

    .uwm-featured-story__heading {
      padding-top: 0;
      padding-bottom: 1.5rem; // 24px
      margin-bottom: 0;
      font-size: 2.1875rem; // 35px - standard h2 font size
      font-weight: 400;
    }

    .card-body {
      padding: 0;
    }

    .btn-cta:last-child {
      margin-bottom: 0;
    }

  }

  // Switch to content box overlay styling.
  @include media-breakpoint-up('lg') {

    .uwm-featured-story__content {
      // Note: the `position: relative` ancestor is .uwm-featured-story,
      // not .container-xl or .row - so the % width set by .col-xl-4
      // continues to grow, not based on the container...
      position: absolute;
      top: 30px;
      background-color: rgba(255, 255, 255, .9);
      padding: 2.375rem; // 38px

      .uwm-featured-story__title {
        position: static;
        padding-top: 0;
        text-shadow: none;
        color: theme-color('text');
      }

    }

  }

}

// Apply accent color to Story Title heading.
.uwm-accent-color__purple .uwm-featured-story__heading {
  color: color('purple');
}

.uwm-accent-color__light-purple .uwm-featured-story__heading {
  color: color('light-purple');
}

.uwm-accent-color__yellow .uwm-featured-story__heading {
  color: color('yellow');
}

.uwm-accent-color__blue .uwm-featured-story__heading {
  color: color('blue');
}

.uwm-accent-color__orange .uwm-featured-story__heading {
  color: color('orange');
}

.uwm-accent-color__teal .uwm-featured-story__heading {
  color: color('teal');
}
