/**
 * Card content components, based on Bootstrap Cards
 * - Card paragraph type
 * - Card content block type (referenced in Reusable Content paragraph type)
 *
 * @see paragraph--uwm-card.html.twig
 * @see paragraph--uwm-block.html.twig
 * @see field--field-uwm-card-header.html.twig
 * @see field--field-uwm-card-content.html.twig
 * @see https://getbootstrap.com/docs/4.0/components/card/
 */

@import 'init';

.field--name-field-uwm-component .card-deck {
  padding-bottom: 2em;
}

.card {
  border: none;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.15);
  border-radius: 0;

  .card-header {
    background: none;
    border-bottom: 0 none;
    min-height: 1rem;
  }

  .card-body {
    padding-top: 0;
    padding-bottom: 0;

    .list-group-item {
      padding: 0;
      margin: 0;
      border: none;
      border-bottom: 1px solid $gray-300;

      &:last-child {
        margin-bottom: 1.5rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .btn {
        padding: .75rem 0;
        width: 100%;
        text-align: left;
        @include link-with-icons-aligned();
      }

    }

  }

  .field--name-field-uwm-card-footer {
    padding-left: $card-spacer-x;
    padding-right: $card-spacer-x;
  }

}

@include media-breakpoint-between('sm', 'md') {

  // Between sm and lg breakpoints, cards are structured at 2 per row via a
  // divider in the markup. Within a card-deck row, cards evenly fill the row,
  // so rows of 1 are full-width cards. If there is an odd number of cards,
  // ensure the last one matches the 50% width of the others.
  // @see paragraph--uwm-grid.html.twig
  .card-deck .card {
    flex-basis: calc(50% - (2 * #{$card-deck-margin}));
    flex-grow: 0;
  }

}

@include media-breakpoint-up('sm') {
  .card-deck .card {
    margin-bottom: $card-deck-margin;
  }
}

// Reusable Content component styled as card, containing a webform
.card.paragraph--webform {

  // Paragraphs containing a webform will not have a card footer, so set
  // bottom padding on card body instead.
  .card-body {
    padding-bottom: $card-spacer-y;
  }

  .webform-submission-form {
    .form-item:first-child {
      margin-top: 0;
    }
  }
}

// Card Header with Image.
.card .uwm-card-header--image {
  padding: 0;
}

// Card Header with Image and CTA Link
.card .uwm-card-header--cta {
  position: relative;

  // Overlay the CTA button on the image in card header.
  // Override fixed height to allow text to wrap.
  .paragraph--type--uwm-image + .btn-cta-link {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
    line-height: inherit;
    padding-top: 0.75rem; // 12px
    padding-bottom: 0.75rem; // 12px
    z-index: 200;
    background: rgba(255, 255, 255, 0.9);

    @include link-with-icons-aligned();
  }
}

.uwm-card-header .img-fluid, .uwm-card-header--image .img-fluid {
  margin: 0;
  width: 100%;
}

.uwm-card-header__cta-filter {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.05) 15%, rgba(0, 0, 0, 0.7));
  height: 60px;
  position: relative;
  margin-top: -60px;
  z-index: 100;
}

.uwm-grid-column-dividers {
  // Customize cards in a grid that has column dividers.
  .field--name-field-uwm-card-header {
    padding: 0;
    h3 {
      font-size: 28px;
      line-height: 34px;
      font-weight: 500;
      color: theme-color('text');
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
  .field--name-field-uwm-card-content {
    padding: 0;
  }
  .field--name-field-uwm-card-footer {
    padding: 0;
    .btn-cta {
      margin-bottom: 0;
    }
  }
}
