@import 'init';
@import './_provider-card-base';

article.node-res_provider.view-mode-provider_card {
  padding-top: 75px;
  border: 0 none;
  background-color: transparent;
  margin-bottom: 30px;

  .inner {

    position: relative;
    height: 100%;

    padding: 0 24px 24px 24px;
    border: 1px solid $gray-300;
    background-color: $white;
    /* Setting flex because we grow .fields,
     * to push the CTA to the foot.
     */
    display: flex;
    flex-direction: column;

    .full-wide {
      position: relative;
      width: 100%;
      margin: 1.25rem 0 0 0;

      .uwm-icon {
        position: absolute;
        left: 0;
        top: 0;
      }

    }

    .provider-card__image {
      width: 151px;
      height: 151px;
      margin: -75px auto 10px auto;

      img {
        width: 100%;
        margin: 0;
        border-radius: 100%;
        border: 5px solid $white;
      }
    }

    .provider-card__accepting-patients {
      display: block;
      color: theme-color('text');
      margin-top: 8px;
      padding-left: 25px;
      position: relative;
      .uwm-icon {
        background-size: 100%;
        position: absolute;
        left: 0;
        width: 18px;
        height: 18px;
      }
    }

    .fields-container {

      flex-grow: 1;

      .full-wide:last-of-type {
        margin-bottom: 0;
      }

      .provider-card__specialties {
        //@extend %s-with-icon;
      }

      .provider-card__appointments {
        @extend %s-with-icon;
        // Override the bottom margin, since the appointments buttons have
        // a top margin.
        h3 {
          margin-bottom: 4px;
        }
      }

      .provider-card__urgent-care {
        margin-bottom: 0.25rem // 4px;
      }

      .provider-card__appointments-button {
        display: inline-block;
        color: color('white');
        font-size: .875rem; // 14px
        text-transform: uppercase;
        margin: 8px 8px 0 0;

        &:hover {
          text-decoration: none;
          color: color('white');
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .provider-card__book-online-returning {
        display: block;
        margin-top: 0.375rem; // 6px (+4px margin-bottom on buttons above = 10px)
      }

      .provider-card__locations {
        @extend %s-with-icon;
      }

      .fa-angle-right {
        margin-left: 0.4rem;
        color: theme-color('link-blue');
      }

    }

    .provider-card__see-more {
      margin-top: 1.25rem;
      margin-bottom: 0;
    }

  }

  @include media-breakpoint-up('md') {

    .inner {
      font-size: 0.875rem; // 14px
    }

  }

  %s-with-icon {
    padding-left: 1.8125rem;
  }

}
