@import 'init';
@import './_provider-card-base';

article.node-res_provider.view-mode-provider_card {

  border: 0 none;
  background-color: transparent;
  margin-top: 15px;
  margin-bottom: 15px;

  .inner {

    position: relative;
    height: 100%;

    padding: 15px;
    border: 1px solid $gray-300;
    background-color: $white;
    /* Setting flex because we grow .fields,
     * to push the CTA to the foot.
     */
    display: flex;
    flex-direction: column;

    .full-wide {

      position: relative;
      float: left;
      width: 100%;
      margin: 0 0 1.25rem 0;

      .uwm-icon {
        position: absolute;
        left: 0;
        top: 0;
      }

    }

    .provider-card__image {
      position: absolute;
      left: 0;
      top: 0;
      width: 125px;
      height: 150px;
      overflow: hidden;

      img.img-fluid {
        margin: 0;
      }
    }

    h2.provider-card__title {

      padding-left: 120px;
      padding-top: 10px;
      min-height: 150px; // Clear image absolute position

      .accepting-patients {
        display: block;
        color: #474747;
        padding: 8px 0 0 25px;
        position: relative;
        .uwm-icon {
          background-size: 100%;
          position: absolute;
          left: 0;
        }
      }
    }

    .fields-container {

      flex-grow: 1;

      .provider-card__specialties {
        //@extend %s-with-icon;
      }

      .provider-card__appointments {
        @extend %s-with-icon; 
      }

      .provider-card__appointments-buttons {
        color: $text;
        font-size: .875rem; // 14px
        text-transform: uppercase;
        margin-bottom: 4px;
    
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    
      .provider-card__urgent-care {
        margin-bottom: 0.25rem // 4px;
      }
    

      .provider-card__locations {
        @extend %s-with-icon;
      }

      .fa-angle-right {
        margin-left: 0.4rem;
        color: theme-color('link-blue');
      }

    }

    .provider-card__see-more {
      margin-bottom: 0;
    }

  }

  @include media-breakpoint-up('md') {

    .inner {
      padding: 25px;
      font-size: 0.875rem; // 14px
    }

  }

  %s-with-icon {
    padding-left: 2.875rem;
  }

}
