@import 'init';

nav.uw-navtabs {

  &.nowrap {
    ul {
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      &.flex {
        flex-wrap: nowrap;
        overflow-x: auto;
      }
    }
  }

  ul {

    border-bottom: 1px solid #dcdcdc;

    > li {

      margin: 0 2px -1px 0;
      padding-bottom: 0;

      &.active {
        z-index: 3;
      }

      > a, > a:hover, > a:focus {

        margin: 0;
        padding: 16px 1.50vw;
        float: left;
        color: theme-color('white');
        background: theme-color('uwmed-dark-purple');
        border-color: transparent !important;
        text-decoration: none;
        text-transform: uppercase;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        font-size: .875rem;

        @media(max-width: 350px) {
          font-size: 12.5px;
        }

        i.uw-ico.heart {
          font-size: 26px;
          float: left;
          margin: -6px 4px 0px 0;
        }

      }

    }

    > li.active > a, > li.active > a:hover, > li.active > a:focus {
      color: theme-color('uwmed-light-purple');
      background: theme-color('white');
    }

    a.nav-item.disabled {
      visibility: hidden;
    }

  }

  div.uwm-tab-content {

    min-height: 200px;
    border: 0 none;

    // Sub-tabs:
    div.tab-content, div.uwm-tab-content {
      margin-top: 15px;
    }

  }
}

@media(max-width: 767px) {

  nav.uw-navtabs {

    ul {

      > li {

        max-width: 30%;

        &:first-child > a {
          margin: 0 !important;
        }

        > a, > a:hover, > a:focus {

          text-transform: uppercase;
          text-align: center;
          word-spacing: 100vw; // Force each word onto separate line.
          display: table-cell;
          vertical-align: bottom;
          float: none;

          .uw-ico, .fa {
            display: none;
          }

        }

      }

    }

  }

}
