@import 'init';

// Accordion
//
// Bootstrap defines a set of [all colors](https://getbootstrap.com/docs/4.1/getting-started/theming/#color), as well
// as a smaller palette of [theme colors](https://getbootstrap.com/docs/4.1/getting-started/theming/#theme-colors) and
// a set of [grays](https://getbootstrap.com/docs/4.1/getting-started/theming/#grays).
//
// UW Medicine brand guidelines define a smaller set of colors, which are divided into a primary and secondary palette.
//
// Markup: accordion.twig
//
// Style guide: components.accordion

.uwm-accordion {
  padding-bottom: 1.875rem;
  .card {
    box-shadow: none;
  }
}

.uwm-accordion .card-header {
  h3 {
    font-weight: $font-weight-medium;
    padding: 0;
    margin: 0;
    font-family: $font-family-sans-serif;
  }
  svg {
    .uwm-accent-color__blue & {
      color: color('blue');
    }
    .uwm-accent-color__light-purple & {
      color: color('light-purple');
    }
    .uwm-accent-color__orange & {
      color: color('orange');
    }
    .uwm-accent-color__purple & {
      color: color('purple');
    }
    .uwm-accent-color__teal & {
      color: color('teal');
    }
    .uwm-accent-color__yellow & {
      color: color('yellow');
    }
  }
}

.uwm-accordion__card-header {
  padding: 0;
  background: none;
  border: none;
}

.uwm-accordion__header-link {
  padding: .875em 1.25em;
  background: color('gray');
  .fa-plus-circle {
    display: none;
    margin-right: 1rem;
  }
  .fa-minus-circle {
    display: inline-block;
    margin-right: 1rem;
  }
  &.collapsed {
    .fa-plus-circle {
      display: inline-block;
    }
    .fa-minus-circle {
      display: none;
    }
  }
  .uwm-section--background-gray & {
    background: color('white');
  }
}

.uwm-accordion .uwm-accordion__header-link.show-indicators:before {
  display: none;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.uwm-accordion .uwm-accordion__header-link.show-indicators svg[data-fa-pseudo-element=":before"] {
  margin-left: 4px;
  margin-right: 10px;
  color: color('blue');
}

.uwm-accordion .uwm-accordion__header-link[aria-expanded="false"].show-indicators:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f067";
}

.uwm-accordion .uwm-accordion__header-link[aria-expanded="true"].show-indicators:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f068";
}

.uwm-accordion__body-separator {
  border-color: #cdd0d3;
  margin: 0;
}

.uwm-accordion .collapsed .uwm-accordion__body-separator {
  display: none;
}

.uwm-accordion__card {
  background: color('gray');
  .uwm-section--background-gray & {
    background: color('white');
  }
}

.uwm-accordion__card-body {
  margin: 0;
  padding: 0 3.25em;

  // !important needed to override ".card .card-body".
  padding-bottom: 1.25em !important;

  & > .paragraph {
    margin: 1em 0;
  }
}
