{# SVG symbols must be defined in a parent template.
See node-res-provider.html.twig, for example. #}

{{ attach_library('uwmbase/rating-stars') }}

<div class="rating-stars">
  {% if link_url %}
    {% if use_cta_link %}
      {{ uwm_cta_link('', link_url, [cta_classes, 'rating-stars__link'], cta_special_attributes)|render|replace({'</a>': ''})|raw }}
    {% else %}
      <a class="rating-stars__link" href="{{ link_url }}">
    {% endif %}
  {% endif %}

  {% if stars.full > 0 %}
    {% for i in 1..stars.full %}
      <div class="rating-stars__star">
        <svg class="rating-stars__star-svg">
          <use xlink:href="#svg-rating-star-100" />
        </svg>
      </div>
    {% endfor %}
  {%  endif %}

  {% if stars.partial_pct > 0 and stars.partial_pct < 100 %}
    <div class="rating-stars__star">
      <svg class="rating-stars__star-svg">
        <use xlink:href="#svg-rating-star-{{ stars.partial_pct }}" />
      </svg>
    </div>
  {%  endif %}

  {% if stars.empty > 0 %}
    {% for i in 1..stars.empty %}
      <div class="rating-stars__star">
        <svg class="rating-stars__star-svg">
          <use xlink:href="#svg-rating-star-0" />
        </svg>
      </div>
    {% endfor %}
  {% endif %}

  {% if link_url %}
    </a>
  {% endif %}
</div>
