/***
 * Special styles for isAdminRoute().
 */
#toolbar-administration a.env-uwmed-dev {
  background: darkred !important;
  color: white !important;
  text-transform: uppercase;
}

#toolbar-administration a.env-uwmed-test {
  background: darkgoldenrod !important;
  color: white !important;
  text-transform: uppercase;
}

#toolbar-administration a.env-uwmed-prod {
  background: darkblue !important;
  color: white !important;
  text-transform: uppercase;
}

body.adminimal.path-admin .view-uwm-providers-puma td {
  vertical-align: top;
}
