{#
/**
 * @file
 * Default template for custom theme hook to display provider scheduling flow.
 *
 * @see uwmcs_ecare_scheduling/src/Controller/UwmSchedulingController
 *
 */
#}
<div class="provider-scheduling">
  hello from the theme
</div>
