{#
/**
 * @file
 * Theme override for Phone Number field on Res Clinic nodes.
 *
 * Custom variables:
 * - view_mode: The view mode in which the entity with this field is currently
 *   being rendered.
 *
 * @see template_preprocess_field()
 * @see uwmbase_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
    'clinic-card__subheader'
  ]
%}
{% spaceless %}
  {#
    Format phone number and wrap in 'tel' link.
    This field should be configured to render in "Plain text" format,
    not the linked phone number, so we can use the `uwm_format_phone`
    filter here.
  #}
  {% set value = items.0.content|render|trim %}
  <a href="tel:{{ value|uwm_format_phone }}">{{ value|uwm_format_phone('.') }}</a>
{% endspaceless %}
