{% extends '/' ~ directory ~ '/templates/views/views-view.html.twig' %}
{#
/**
 * @file
 * Theme override to display UWM Medical Specialties for Service view of
 * unformatted rows.
 */
#}

{% block main %}

  {{ attach_library('uwmbase/view-medical-specialties-for-services')}}

  {#
    Add Bootstrap row wrapper. Items have col wrappers.
    @see views-view-unformatted--uwm-medical-specialties-for-service--block-1.html.twig
  #}
  <div class="row">
    {{ rows }}
  </div>

{% endblock %}
