{#
/**
 * @file
 * Theme override to display UWM Medical Specialties for Service view of
 * unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{#
  Set number of items per row and responsive handling based on total # of items:
  2 items = 2 per row
  4 items = 2 per row, @ lg+ 4 per row
  3 or 5+ items = 2 per row, @ md+ 3 per row

  Note: this matches handling for Grid with Cards and dividers styling/
  @see paragraph--uwm-grid.html.twig
#}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      view.total_rows == 2 ? 'col-sm-6',
      view.total_rows == 4 ? 'col-sm-6 col-lg-3',
      (view.total_rows == 3 or view.total_rows > 4) ? 'col-sm-6 col-md-4'
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
