/**
 * @file
 * View of medical specialty teasers on a parent medical service page.
 *
 * @see views-view--uwm-medical-specialties-for-service.html.twig
 * @see views-view-unformatted--uwm-medical-specialties-for-service--block-1.html.twig
 */

@import 'init';

.medical-specialty-view {

  .views-row {
    margin: 0 0 2rem 0; // 32px
    display: flex;
    flex-direction: column;
    align-items: top;

    // Allow the teaser field to grow, so the CTA buttons are at bottom of
    // flex container and align across items.
    .views-field-body {
      flex-grow: 1;
    }

    .medical-specialty-view__item-title {
      font-family: $font-family-base;
      font-size: 1.125rem; // 18px
      line-height: 1.375rem; // 22px
      font-weight: $font-weight-semi-bold;
      margin: 0 0 1rem 0;
      padding: 0;

      .uwm-icon {
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-right: 0.75rem; // 12px
      }
    }

    .medical-specialty-view__item-teaser {

      p:last-child {
        margin-bottom: 0;
      }

    }

    a.btn-cta {
      margin-top: 1.25rem; // 20px
      margin-bottom: 0;
    }
  }

}

// 576+
// 2 per row
@include media-breakpoint-up('sm'){
  .medical-specialty-view {

    .views-row {
      border-right: 1px solid theme-color('border-gray');

      &:nth-child(even),
      &:last-child {
        border-right: none;
      }
    }

  }
}

// 768px+
// 3 per row (standard)
// If 2 or 4 total - stay at 2 per row
@include media-breakpoint-up('md') {
  .medical-specialty-view {

    .views-row.col-md-4 {
      border-right: 1px solid theme-color('border-gray');

      &:nth-child(3n),
      &:last-child {
        border-right: none;
      }
    }

  }
}

// 992px+
// 3 per row (standard)
// Stay at 2 per row - if 2 or 4 total
@include media-breakpoint-up('lg') {
  .medical-specialty-view {

    .views-row.col-lg-3 {
      border-right: 1px solid theme-color('border-gray');

      &:nth-child(4n),
      &:last-child {
        border-right: none;
      }
    }

  }
}
