/*
 * Styles specific to the Make an Appointment page.
 *
 * Theme library: uwmbase/make-appt-page
 *
 * @see uwmbase_page_attachments_alter().
 */

@import 'init';

.make-appt-page {
  .paragraph--type--uwm-basic-content a {
    color: theme-color('link-blue');
    margin-bottom: 1rem;

    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
