/*
 * Styles specific to the Make an Appointment page.
 *
 * Theme library: uwmbase/make-appt-page
 *
 * @see uwmbase_page_attachments_alter().
 */

@import 'init';
@import 'base/typography';

.make-appt-page {
  .paragraph--type--uwm-basic-content {
    a {
      @include link-blue-hover-underline;
    }

    h3 {
      font-size: 1rem;
      padding: 0;
      font-weight: $font-weight-semi-bold;
    }
  }

  .paragraph--view-mode--uwm-card a {
    display: block;
    margin-bottom: 1rem;
  }
}
