/*
 * Styles specific to the Make an Appointment page.
 *
 * Theme library: uwmbase/make-appt-page
 *
 * @see uwmbase_page_attachments_alter().
 */

@import 'init';

.make-appt-page {
  a {
    color: theme-color('link-blue');
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }

}
