/* ------------ Patients Section ------------ */
#location-info [itemprop="name"],
#location-info [itemprop="address"] {
    display: block;
    margin-right: 130px;
    width: initial !important;
}

#location-info .itempropTelephone {
    margin-top: -22px;
    margin-right: -130px;
}

#location-info .info-links {
    margin-top: -22px;
}