.copyright-footer {
  padding: 20px;
  background-color: #1a1919;
  background-image: -webkit-gradient(linear, left top, right top, from(#32006e), to(#76236c));
  background-image: linear-gradient(90deg, #32006e, #76236c);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, .65);
  font-size: 12px;
  font-weight: 300;
}
