{% extends "node.html.twig" %}


{% block content_block %}
  <div{{ content_attributes.addClass('content') }}>
    {{ content }}
  </div>
  <div class="content-footer">
    <p><strong><i class="fal fa-check-circle"></i> Fact Checked:</strong> Each of our articles are reviewed for accuracy by an expert from UW Medicine or the University of Washington.</p>
    <p><em>Get the top stories delivered to your inbox. <a href="">Sign up for our newsletter</a>.</em></p>

  </div>
{% endblock %}




