/*
 * Styling for solid-background-color CTA buttons.
 */

 // NOTE: mixin cannot be used globally because this file is included into
 // base.scss, but not _init.scss...
@mixin btn-cta-solid($background-color: color('blue'), $background-color-hover: $hover-blue) {
  display: inline-block;
  background-color: $background-color;
  color: color('white');
  // 2020-01-22: Confirmed this padding to be the desired default.
  // @see https://www.wrike.com/open.htm?id=446798910
  padding: 0.5rem 1rem; // 8px 16x
  font-size: 1rem; // 16px
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:focus {
    color: color('white');
    text-decoration: none;
  }

  &:hover, &:active {
    background-color: $background-color-hover;
    color: color('white');
    text-decoration: none;
  }
}

/*
 * Apply mixin to default css class and add color variants.
 *
 * Note: these can and should be used without the .btn class.
 */
.btn-cta-solid {
  @include btn-cta-solid();
}

.btn-cta-solid--purple{
  @include btn-cta-solid(color('purple'), $hover-purple);
}
