/* Import Bootstrap _type.scss */
@import '~bootstrap/scss/type';

/* Style overrides for Bootstrap _type.scss */

.display-1, .display-2, .display-3, .display-4 {
  font-family: $font-family-base;
}

h1, .h1 { font-weight: $h1-font-weight; }
h2, .h2 { font-weight: $h2-font-weight; }
h3, .h3 { font-weight: $h3-font-weight; }
h4, .h4 { font-weight: $h4-font-weight; }
h5, .h5 { font-weight: $h5-font-weight; }
h6, .h6 { font-weight: $h6-font-weight; }

/* Custom styles */

a.text-link-blue.no-underline {
  text-decoration: none;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

@mixin link-blue-hover-underline {
  color: theme-color('link-blue');
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

h1, .h1 {
  // Bootstrap uses one variable for line height for all headers
  // ($headings-line-height) so set our h1-specific value here.
  // @see _init/typography/_typography.scss
  line-height: 1.1;
}

h2, .h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h3, .h3 {
  padding-top: 1.875rem;
  padding-bottom: 1rem;
}

h1.page-title {
  color: theme-color('heading-purple');
}

%uwdm-no-underline-link {
  color: $link-hover-color;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
  }

  svg {
    float: right;
    margin-top: 4px;
    margin-right: -4px;
  }
}

%uwdm-no-underline-link-dark {
  color: $body-color;
  text-decoration: none;
  &:hover, &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.block-page-title-block h1 {
  padding-top: 3.125rem;
}

@each $color, $value in $colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

/*
 * Accent colors - h1
 */
.uwm-accent-color__purple h1 {
  color: color('purple');
}

.uwm-accent-color__light-purple h1 {
  color: color('light-purple');
}

.uwm-accent-color__orange h1 {
  color: color('orange');
}

.uwm-accent-color__teal h1 {
  color: color('teal');
}

.uwm-accent-color__blue h1 {
  color: color('blue');
}

.uwm-accent-color__yellow h1 {
  color: color('yellow');
}

.uwm-accent-color__white h1 {
  color: color('white');
}

/*
 * Accent heading
 *
 * Include higher-specificity selectors for .uwm-section to allow
 * Section paragraphs to override page-level color.
 */
.uwm-accent-heading__title {
  text-transform: uppercase;
  color: theme-color('text');
  letter-spacing: .05em;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 9.5px;
  padding-bottom: 3px;

  &.uwm-accent-heading--centered {
    text-align: center;
  }
}

// @TODO: is this unused?
.uwm-accent-heading__slant {
  display: block;
  overflow: hidden;
  height: 4px;
  margin-bottom: 16px;

  span {
    transform: skew(-25deg,0);
    display: block;
    height: 2.78px;
    width: 140.75px;
    background-color: color('light-purple');
    margin: 0 0 15px -100px;
  }
}

// Left-aligned, right edge angled
.uwm-accent-heading::after {
  content: '';
  display: block;
  width: 40px;
  margin-top: 6px;

  border-top: 4px solid theme-color('primary');
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 0 solid transparent;
}

// Center-aligned, both edges angled
.uwm-accent-heading--centered::after {
  content: '';
  display: block;
  width: 40px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;

  border-top: 4px solid theme-color('primary');
  border-right: 3px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 3px solid transparent;
}

/*
 * Accent heading colors
 *
 * Include higher-specificity selectors for .uwm-section to allow
 * Section paragraphs to override page-level color.
 */
.uwm-accent-color__light-purple .uwm-accent-heading::after,
.uwm-accent-color__light-purple .uwm-accent-heading--centered::after,
.uwm-section.uwm-accent-color__light-purple .uwm-accent-heading::after,
.uwm-section.uwm-accent-color__light-purple .uwm-accent-heading--centered::after {
  border-top-color: color('light-purple');
}

.uwm-accent-color__teal .uwm-accent-heading::after,
.uwm-accent-color__teal .uwm-accent-heading--centered::after,
.uwm-section.uwm-accent-color__teal .uwm-accent-heading::after,
.uwm-section.uwm-accent-color__teal .uwm-accent-heading--centered::after {
  border-top-color: color('teal');
}

.uwm-accent-color__blue .uwm-accent-heading::after,
.uwm-accent-color__blue .uwm-accent-heading--centered::after,
.uwm-section.uwm-accent-color__blue .uwm-accent-heading::after,
.uwm-section.uwm-accent-color__blue .uwm-accent-heading--centered::after {
  border-top-color: color('blue');
}

.uwm-accent-color__orange .uwm-accent-heading::after,
.uwm-accent-color__orange .uwm-accent-heading--centered::after,
.uwm-section.uwm-accent-color__orange .uwm-accent-heading::after,
.uwm-section.uwm-accent-color__orange .uwm-accent-heading--centered::after {
  border-top-color: color('orange');
}

.uwm-accent-color__purple .uwm-accent-heading::after,
.uwm-accent-color__purple .uwm-accent-heading--centered::after,
.uwm-section.uwm-accent-color__purple .uwm-accent-heading::after,
.uwm-section.uwm-accent-color__purple .uwm-accent-heading--centered::after {
  border-top-color: color('purple');
}

.uwm-accent-color__yellow .uwm-accent-heading::after,
.uwm-accent-color__yellow .uwm-accent-heading--centered::after,
.uwm-section.uwm-section.uwm-accent-color__yellow .uwm-accent-heading::after,
.uwm-section.uwm-section.uwm-accent-color__yellow .uwm-accent-heading--centered::after {
  border-top-color: color('yellow');
}

.uwm-accent-color__white .uwm-accent-heading::after,
.uwm-accent-color__white .uwm-accent-heading--centered::after,
.uwm-section.uwm-section.uwm-accent-color__white .uwm-accent-heading::after,
.uwm-section.uwm-section.uwm-accent-color__white .uwm-accent-heading--centered::after {
  border-top-color: color('white');
}
