/*
 * UWM Custom SVG Icons
 *
 * Use the icon's CSS class to apply it as a background image. Example:
 * <span class="uwm-icon uwm-icon--calendar" aria-hidden="true"></span>
 *
 * Note: You may need to set desired width and height of the icon according
 * to where it's being used.
 *
 * TODO:
 * This is a new implementation pattern for icons, eventually to replace the
 * existing implementation of icons as a custom generated font. Note the
 * difference in CSS class patterns, to avoid overwriting existing use
 * while porting to new use:
 *   New: .uwm-icon .uwm-icon--name
 *   Existing (font): .uw-ico | .uwmed-icon .uwmed-icon__name
 * @see src/scss/base/_uwm-icons.scss
 *
 * TODO? Some icons are 24x24 px and have extra whitespace around the icon;
 * others are smaller, with no space around the icon stroke.
 *
 * TODO (major):
 * As a CSS background image, the svg stroke color cannot be set with css.
 * As a temporary workaround for a colored version, you can use Twig to embed
 * the svg markup. Ensure the svg's path element has `fill="currentColor"` then
 * set the `color` in css.
 * {{ source('/themes/custom/uwmbase/dist/assets/uwm-icons/icon_heart.svg', ignore_missing = true) }}
 * Backlog task: https://www.wrike.com/open.htm?id=357236939
 */

$icon-path: '/themes/custom/uwmbase/dist/assets/uwm-icons';

.uwm-icon {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &.uwm-icon--5-star-rating {
    background-image: url('#{$icon-path}/icon_5_star_rating.svg');
    width: 18px;
    height: 18px;
  }
  &.uwm-icon--accepting-patients {
    background-image: url('#{$icon-path}/icon_accepting_patients.svg');
    width: 18px;
    height: 18px;
  }
  // @TODO: remove this when we solve for svgs with color variation
  &.uwm-icon--accepting-patients-teal {
    background-image: url('#{$icon-path}/icon_accepting_patients_teal.svg');
    width: 16px;
    height: 16px;
  }
  &.uwm-icon--appointment {
    background-image: url('#{$icon-path}/icon_appointment.svg');
  }
  &.uwm-icon--bike {
    background-image: url('#{$icon-path}/icon_bike.svg');
  }
  &.uwm-icon--bike-selected {
    background-image: url('#{$icon-path}/icon_bike_selected.svg');
  }
  &.uwm-icon--calendar {
    width: 18px;
    height: 16px;
    background-image: url('#{$icon-path}/icon_calendar.svg');
  }

  &.uwm-icon--urgent-care {
    width: 18px;
    height: 16.66px;
    background-image: url('#{$icon-path}/icon_urgent_care.svg');
  }

  &.uwm-icon--call-online {
    background-image: url('#{$icon-path}/icon_call_online.svg');
  }
  &.uwm-icon--call-solid {
    background-image: url('#{$icon-path}/icon_call_solid.svg');
  }
  &.uwm-icon--careers {
    background-image: url('#{$icon-path}/icon_careers.svg');
  }
  &.uwm-icon--clinic-locations {
    background-image: url('#{$icon-path}/icon_clinic_locations.svg');
  }
  &.uwm-icon--locations-pin {
    width: 13px;
    height: 24px;
    background-image: url('#{$icon-path}/locations-pin.svg');
  }
  &.uwm-icon--drive {
    background-image: url('#{$icon-path}/icon_drive.svg');
  }
  &.uwm-icon--drive-selected {
    background-image: url('#{$icon-path}/icon_drive_selected.svg');
  }
  &.uwm-icon--driving-directions {
    background-image: url('#{$icon-path}/icon_driving_directions.svg');
  }
  &.uwm-icon--email {
    background-image: url('#{$icon-path}/icon_email.svg');
  }
  &.uwm-icon--fb {
    background-image: url('#{$icon-path}/icon_fb.svg');
  }
  &.uwm-icon--find-a-doctor {
    background-image: url('#{$icon-path}/icon_find_a_doctor.svg');
  }
  &.uwm-icon--find-a-location {
    background-image: url('#{$icon-path}/icon_find_a_location.svg');
  }
  &.uwm-icon--heart {
    background-image: url('#{$icon-path}/icon_heart.svg');
    width: 18px;
    height: 18px;
  }
  &.uwm-icon--instagram {
    background-image: url('#{$icon-path}/icon_instagram.svg');
  }
  &.uwm-icon--languages {
    background-image: url('#{$icon-path}/icon_languages.svg');
    width: 18px;
    height: 16px;
  }
  &.uwm-icon--linkedin {
    background-image: url('#{$icon-path}/icon_linkedin.svg');
  }
  &.uwm-icon--media {
    background-image: url('#{$icon-path}/icon_media.svg');
    width: 24px;
    height: 16px;
  }
  &.uwm-icon--medical-research {
    background-image: url('#{$icon-path}/icon_medical_research.svg');
    width: 24px;
    height: 24px;
  }
  &.uwm-icon--medical-services {
    background-image: url('#{$icon-path}/icon_medical_services.svg');
    width: 18px;
    height: 17px;
  }
  &.uwm-icon--medical-specialists {
    background-image: url('#{$icon-path}/icon_medical_specialists.svg');
    width: 24px;
    height: 24px;
  }
  &.uwm-icon--my-location {
    background-image: url('#{$icon-path}/icon_my_location.svg');
  }
  &.uwm-icon--not-accepting-patients {
    background-image: url('#{$icon-path}/icon_not_accepting_patients.svg');
  }
  &.uwm-icon--parking {
    background-image: url('#{$icon-path}/icon_parking.svg');
  }
  &.uwm-icon--parking-selected {
    background-image: url('#{$icon-path}/icon_parking_selected.svg');
  }
  &.uwm-icon--patient-resources {
    background-image: url('#{$icon-path}/icon_patient_resources.svg');
    width: 15px;
    height: 18px;
  }
  &.uwm-icon--pdf {
    background-image: url('#{$icon-path}/icon_pdf.svg');
  }
  &.uwm-icon--phone-911 {
    // @TODO: make an svg
    background-image: url('#{$icon-path}/icon_phone_911.png');
    width: 41px;
    height: 41px;
  }
  &.uwm-icon--pinterest {
    background-image: url('#{$icon-path}/icon_pinterest.svg');
  }
  &.uwm-icon--print {
    background-image: url('#{$icon-path}/icon_print.svg');
  }
  &.uwm-icon--provider {
    background-image: url('#{$icon-path}/icon_provider.svg');
  }
  &.uwm-icon--provider-bio {
    background-image: url('#{$icon-path}/icon_provider_bio.svg');
  }
  &.uwm-icon--provider-interests {
    background-image: url('#{$icon-path}/icon_provider_interests.svg');
    width: 18px;
    height: 15px;
  }
  &.uwm-icon--provider-interests-alt {
    background-image: url('#{$icon-path}/icon_provider_interests_alt.svg');
  }
  &.uwm-icon--refer-patient {
    background-image: url('#{$icon-path}/icon_refer_patient.svg');
  }
  &.uwm-icon--request-translation {
    background-image: url('#{$icon-path}/icon_request_translation.svg');
  }
  &.uwm-icon--search {
    background-image: url('#{$icon-path}/icon_search.svg');
  }
  &.uwm-icon--transit {
    background-image: url('#{$icon-path}/icon_transit.svg');
  }
  &.uwm-icon--transit-selected {
    background-image: url('#{$icon-path}/icon_transit_selected.svg');
  }
  &.uwm-icon--twitter {
    background-image: url('#{$icon-path}/icon_twitter.svg');
  }
  &.uwm-icon--walk {
    background-image: url('#{$icon-path}/icon_walk.svg');
  }
  &.uwm-icon--walk-selected {
    background-image: url('#{$icon-path}/icon_walk_selected.svg');
  }
  &.uwm-icon--youtube {
    background-image: url('#{$icon-path}/icon_youtube.svg');
  }
}
