///
/// @file
/// Provides styles specific to our medical-service pages.
///
@import 'init';

article.node-uwm_medical_service.view-mode-full {

  .field__label {
    display: none;
  }

  .featured-clinics {

    .field-field-res-featured-clinics {
      @include make-row();

    }

    .field--name-field-link {
      text-align: right;
      margin-top: 29px;

      a {
        @include button-cta-deep-shadowed(color('blue'));
        padding: 1rem;
      }
    }

  }

}
