{#
/**
 * @file
 * Theme override for a 'submit' type form element.
 * - Uses the <button> tag instead of <input> by default.
 * - Adds the standard CTA button classes.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{%
  set classes = [
    'btn',
    'btn-cta'
  ]
%}
{#
  Note: retain the `value` attribute on the button tag, as that is the value
  it submits. This is key for Form API to determine which button submitted the
  form -
  @see FormBuilder::buttonWasClicked()
#}
<button{{ attributes.addClass(classes) }}>{{ attributes.value }}{{ children }}</button>
