@mixin uw-skew($angle) {

  transform: skew($angle);
  transition-timing-function: ease-in;
  transition: 0.2s;
  // Chrome jagged line fix
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@mixin uwmed-bezier-transition-transition-timing() {
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin uw-separator($angle: false) {

  @if $angle {
    @include uw-skew($angle);
  }

  height: 1em;
  width: 1em;
  margin: 0 1em;
  border-right: 1px solid transparent;
  display: inline-block;
}

// Apply just the left/right container padding to align elements with the
// Bootstrap grid containers.
@mixin container-padding() {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}

@mixin container-padding-left() {
  padding-left: $grid-gutter-width / 2;
}

@mixin container-padding-right() {
  padding-right: $grid-gutter-width / 2;
}

// Display a link or button with icon(s) using flexbox.
// It does not need to have the .btn-cta class.
// The text must be a child element with class .btn__text (not directly in <a>).
// - Left icon aligned to text (top)
// - Right icon (arrow) vertically centered
// Example markup:
//   <a class="btn btn-cta">
//     <span class="btn__text">Read more</span>
//     <span class="fa fa-angle-right"></span>
//   </a>
@mixin link-with-icons-aligned() {
  display: flex;
  align-items: center;

  .uwmed-icon {
    align-self: flex-start;
    position: relative;
    top: 2px;
    margin-right: 0.375rem; // 6px
  }

  .btn__text {
    flex-grow: 1;
  }

  .fa-angle-right {
    position: static;
    margin-left: 0.375rem; // 6px
  }
}

@mixin button-cta($color: "") {

  @if $color == "" {
    $color: $gray-500;
  }

  padding: 0 1em;
  text-transform: uppercase;
  text-decoration: none;

  background: white;
  transition: all 0.45s ease-in;
  height: 40px;
  line-height: 40px;
  color: theme-color('text');
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;

  margin-bottom: 1rem;

  border: 1px solid $color;

  &::before {
    background-position: left 0;
  }

  &:hover {
    cursor: pointer;
    color: color('white');

    .uwmed-icon {
      color: theme-color('secondary');
    }

    .fa-angle-right {
      color: color('white');
    }

    &::before {
      background: none;
    }
  }

  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    z-index: -1;
    background-color: $color;
  }

  &:hover {
    &::after {
      transform: scaleX(1);

      @media(hover: none) {
        transition-duration: 0s;
      }
    }
  }

}



@mixin button-cta-angled-edge($color: "") {

  @if $color == "" {
    $color: $gray-500;
  }

  @include button-cta($color);
  @include angled-edge('inside top', 'lower right', $color, 15, 15);

  &:hover {
    background: none;
  }
  &::before {
    background-position: left 0;
  }
  &::after {
    background-color: $color;
  }

}

@mixin button-cta-deep-shadowed($color: "") {

  @if $color == "" {
    $color: theme-color('link-blue');
  }

  background-color: $color;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1.5rem;
  transition: ease-in 0.3s;
  box-shadow: 0 3px 6px rgba(0,0,0,.15);
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;

  &:hover {
    background-color: #21509C;
    color: white;
    text-decoration: none;
  }

}
