{#
/**
 * @file
 * Theme override for a CTA Link paragraph.
 *
 * Custom variables:
 * - link_attributes: Attribute object for <a> tag
 * - fluid_width: boolean, whether to style as fluid width
 * - btn_cta_solid: boolean, whether to style as solid-background-color button
 *   (instead of standard CTA button with upper left corner color)
 *
 * @see uwmbase_preprocess_paragraph__uwm_cta_link()
 */
#}
{%
  set link_classes = [
    'btn',
    btn_cta_solid ? 'btn-cta-solid' : 'btn-cta',
    fluid_width ? 'btn-cta-fluid' : 'btn-cta-link',
  ]
%}

<a {{ link_attributes.addClass(link_classes) }} href="{{ content.field_uwm_link.0['#url'] }}">
  <span class="btn__text">{{ content.field_uwm_link.0["#title"] }}</span>

  {% if not fluid_width and not btn_cta_solid %}
    <span class="fa fa-angle-right fa-fw fa-lg" aria-hidden="true"></span>
  {% endif %}
</a>
