/**
 * @file
 * Featured Clinics paragraph type
 *
 * Library: uwmbase/featured-clinics-paragraph
 *
 * @see paragraph--uwm-featured-clinics.html.twig
 */
 @import 'init';
 @import 'base/btn-cta-solid';

.uwm-featured-clinics {
  margin-bottom: 2rem; // 32px

  // Negate the bottom margin on each card in last row, because it's a flex
  // container and the child cards' bottom margins don't collapse.
  .field--name-field-uwm-featured-clinics.row {
    margin-bottom: -1.5rem;
  }

  .field--name-field-uwm-link {
    margin-top: 2rem; // 32px
    text-align: right;

    a {
      @include btn-cta-solid();
      font-size: 0.875rem; // 14px
      text-transform: uppercase;
    }
  }

}
