@import 'init';
@import 'base/typography';

// Breadcrumb navigation
//
// The path to the current page in the form of a list of links.
//
// Markup: breadcrumb.twig
//
// Style guide: navigation.breadcrumb

.breadcrumb {
  padding: 1rem 0;

  @media print {
    display: none;
  }

  .breadcrumb__list {
    margin: 0;
    padding: 0;
  }

  .breadcrumb__item {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a.breadcrumb__link {
      font-size: 0.75rem; // 12px
      @include link-blue-hover-underline;
    }

  }
}
