@import 'init';
/* stylelint-disable */

.uwm-image-hero {
    @include media-breakpoint-down('md') {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 420px;
    }
}

.uwm-image-hero__background {
    height: 300px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}

.uwm-image-hero__content {
    margin-top: auto;
    margin-bottom: auto;
}

.uwm-image-hero__heading {
    text-align: center;

    @include media-breakpoint-up('lg') {
        margin-top: 60px;
    }
}
